[2019-12-02 11:59] stuartmarsden opened #8 "Docs not building"
I just made a test repo and followed the getting started guide.

I can build the modules but I get an error when trying to build the docs

`nbdev_build_docs`

result

`converting: /home/jovyan/work/testingNBDev/99_index.ipynb
jekyll.tpl
Traceback (most recent call last):
  File "/opt/conda/bin/nbdev_build_docs", line 10, in <module>
    sys.exit(nbdev_build_docs())
  File "/opt/conda/lib/python3.7

[2019-12-02 14:04] dperezrada commented on #8
Same problem here.
It's seems the packaged version it's not including the .tpl files.
Local version seem to work ok
[code]

A possible solution for the packeged version could be adding `MANIFEST.in`  with
`include nbdev/templates/*tpl`

[2019-12-02 14:22] sgugger commented on #8
Yes, that's exactly the problem. We forgot to add those files in the MANIFEST and didn't realize it as we're only using a developer install. Will fix and release a new version.

[2019-12-02 14:32] sgugger commented on #8
Should be fixed by [this commit](https://github.com/fastai/nbdev/commit/367f69773cda767217faca841d84f1f2fc56df6d). I also made a new release so v0.1.3 should have those files.

[2019-12-02 14:32] #8 closed

[2019-12-02 15:17] stuartmarsden commented on #8
Thanks for the quick response.

[2019-12-02 17:51] 8bitmp3 opened #9 "Link to a template in Getting Started"
Hey @sgugger @jph00—awesome job on `nbdev`. Just wanted to draw your attention to a potentially broken link in the docs under [Getting Started](https://nbdev.fast.ai/#Getting-Started): "To begin your own project, click here: [nbdev template](https://github.com/fastai/nbdev_template/generate)."—it takes you to https://github.com/fastai/nbdev_template/generate and it's a "404". Thanks from all of us

[2019-12-02 17:58] sgugger commented on #9
I can open the link without any problem and checked with several other people they could. Not sure what the problem is.

[2019-12-02 17:59] #9 closed

[2019-12-03 05:03] shunkakinoki commented on #8
Appreciate this!

[2019-12-03 10:41] zacharyneveu opened #10 "Link to generate repo broken"
Link to `https://github.com/fastai/nbdev_template/generate` in the readme returns a 404. Is it just supposed to go to the repo or is there a widget to customize the `settings.ini` info?

[2019-12-03 13:16] kdorichev commented on #10
It has also appeared broken to me, when I used a mobile device. It works fine from the desktop. I don't know why. The link leads to a page that allows you to create a GitHub repo based on the repo template.

[2019-12-03 14:38] sgugger commented on #10
It's not broken, you jsut need to be logged in to GitHub for it to work (see the answer on #9).

[2019-12-03 14:38] #10 closed

[2019-12-04 10:20] ddobrinskiy opened #13 "nbdev.export.relative_import does not convert all possible import syntax"
https://github.com/fastai/nbdev/blob/242331c4f05ce6e275dcbacaea7915545e29bbd5/nbdev/export.py#L182

Given this cell

[code]
**Expected behavior:** converts to

[code]

**Observed behavior:** converts to

[code]

[2019-12-04 14:42] #13 closed

[2019-12-04 14:42] sgugger commented on #13
Good catch! Since we only use the last syntax, we didn't think to include the first. Should be fixed now.

[2019-12-04 23:31] deep-diver opened #15 "supporting multiple paths for nbs_path?"
In my programming sense, the notebooks could be better organized when they are stored into different categories of directories.

Let me know about what your thoughts

[2019-12-05 05:17] BirkhoffG opened #17 "Export Error"
Hello nbdev Team,

I try to use nbdev to develop a prototyped library, but I constantly encounter this problem when I executing `notebook2script():`

`
I have no idea where the code crash, but seems like there is some problems in my 03a_*.ipynb notebook since after I delete this notebook, everything works well. But after recreating this notebook and executing a few exports, this problem occurs aga

[2019-12-05 13:58] sgugger commented on #15
This is possible but will require you to adjust the commands (you can pass any glob expression in them). The base library will keep it simple though.

If you want to discuss the issue more, please use the dedicated [topic](https://forums.fast.ai/t/nbdev-discussion/59145/) on the forum as we keep issues for knwon bugs only. Thanks!

[2019-12-05 13:58] #15 closed

[2019-12-05 14:22] sgugger commented on #17
It seems there is a special character in your notebook name (from the stack trace). Is it really named 03a_*.ipynb? That might be the source of the problem.

[2019-12-06 05:14] BirkhoffG commented on #17
My notebook's name is 03a_module_layers.ipynb.

[2019-12-07 00:23] algal opened #18 "The nbdev pip package seems incompatible with the jupyter conda package"
I am no expert on how conda and pip interact, so I'm not sure if this incompatibility is worth worrying about. But I thought I would mention it here in case someone else encounters it:

If I use conda to install only python, and then use pip to install `nbdev` (and thus pull in `jupyter` as a dependency), then it's fine:

[code]

However, when I use conda to install `jupyter`, and then use pip to

[2019-12-07 18:33] sgugger commented on #18
Do you keep the bug with a full update of conda (conda update conda)?

[2019-12-07 20:01] sgugger commented on #18
I removed the dep to put it for testing only (since it's only necessary for the CI in github).

[2019-12-07 20:01] #18 closed

[2019-12-08 03:35] 8bitmp3 commented on #9
Thanks @sgugger 🙌

[2019-12-09 12:06] adamhaber opened #20 "CI problem - can't import dependency"
Hi,

First of all - thanks for sharing this! I'm just starting to use nbdev but it looks like an amazing platform for library development.

I'm having trouble setting up CI with nbdev. This is possibly not nbdev-related - in which case, I'd appreciate any pointers you might have regarding where to ask this.

One of the dependencies of my library is rpy2. At first I was thinking that Github's CI wo

[2019-12-09 14:26] sgugger commented on #20
I don't think this is related to nbdev. You need to have R installed according to the [docs of rpy2](https://rpy2.readthedocs.io/en/version_2.8.x/overview.html#requirements) so you need to add lines to your `main.yaml` file to do that (I have no knowledge of R so can't help you there).

[2019-12-09 14:26] #20 closed

[2019-12-12 19:42] JoshuaMathias opened #21 "Wheel missing as dependency"
After running pip install nbdev I receive this error (though it does appear to install correctly):
[code]
It appears that 'wheel' should be added to settings.ini based on this answer: https://stackoverflow.com/questions/34819221/why-is-python-setup-py-saying-invalid-command-bdist-wheel-on-travis-ci

[2019-12-13 14:32] sgugger commented on #21
Adding it in settings.ini wouldn't help since you need it to run the setup. I guess it might be needed as a pre-dependency like packaging but out of curiosity, did you get the error after doing `pip install nbdev` or an editable install?

[2019-12-13 15:36] JoshuaMathias commented on #21
I just did `pip install nbdev` (and on a new virtual environment, Python 3.6.8), nothing more.

[2019-12-18 18:50] jph00 commented on #21
I'm not sure this is fixable within nbdev.

[2019-12-18 18:50] #21 closed

[2019-12-19 07:03] liwei46 opened #22 "Is it possible to set up nbdev locally? For example, a Ubuntu PC."
As in the title.

[2019-12-19 14:15] sgugger commented on #22
I don't understand the question: you can `pip install nbdev`.
If you're thinking of your projects, they don't have to end up on GitHub/pypi if you don't push/publish them. In any case, discussion around the library is better done on the [forum](https://forums.fast.ai/t/nbdev-discussion/59145) as we keep issues for known bugs only.

[2019-12-19 14:15] #22 closed

[2019-12-20 14:27] ConnorJL opened #24 "No docs_serve in Makefile"
In the [tutorial](http://nbdev.fast.ai/tutorial), it is said one can host a local version of the docs with the "make docs_serve" command. This doesn't seem to work for me, as there is no such target in the Makefile.

All my code is here (just a copy of the base template and some playing around): https://github.com/ConnorJL/nbdev-test

[2019-12-20 14:30] ConnorJL opened #25 "nb_build_docs fails if show_doc is in different cell"
I was following the [tutorial](http://nbdev.fast.ai/tutorial) and after implementing the HelloSayer class, the nb_build_docs command failed with:

[code]

This can be fixed by putting the show_doc(HelloSayer.say) in the same cell as the class definition, but this doesn't seem like intended behaviour so I thought I'd mention it.

The code leading to this error can be found here: https://github.com/

[2019-12-21 07:39] sgugger commented on #24
Are you sure you have a dev install of nbdev? I'm not sure that addition made its way to the latest release (will make a new one later today) but the line for this is [there](https://github.com/fastai/nbdev/blob/ffc62e2c7cca2123bd778ed83c1086b06e84ee36/nbdev/template.py#L10).

Note that after updating nbdev, you need to remove your current Makefile as it's only generated by the command `nbdev_buil

[2019-12-21 07:39] #24 closed

[2019-12-21 07:44] sgugger commented on #25
The fix hadn't made its way to the generated html. The cell with `HelloSayer` wasn't exported, so when building the docs, nbdev didn't know that function (it imports the corresponding module to build a page). Fixed by [this commit](https://github.com/fastai/nbdev/commit/f618197b5e32847e2718583ac439662b739364f2).

[2019-12-21 07:44] #25 closed

[2019-12-22 21:51] Matt3164 opened #26 "Docs: Add tutorials in Sidebar"
Hey,

First of, thanks for nbdev 😀.

I am struggling to put all my tutorials under the same toggle in the sidebar like you do in fastai2.

I named my notebooks :
- 0x_tutorial.how_to_read_an_image.ipynb
- 0x_tutorial.how_to_compute_histograms.ipynb

I wanted to get them under the same toggle in the sidebar but no luck so far. Even digging into the fastai2 or nbdev repo...

So How can I achieve my

[2019-12-23 08:20] sgugger commented on #26
Hi there! For future reference, we take questions on the dedicated topic on the [forum](https://forums.fast.ai/t/nbdev-discussion/59145) (there is even the answer to yours ;) ) and keep github for bugs only.

As for your request you need to manually edit the file docs/sidebar.json created automatically by the command `nbdev_make_docs` (look at the one in the fastai v2 project to get a feel of how

[2019-12-23 08:20] #26 closed

[2019-12-27 17:38] JiaxiangBU opened #28 "Some URLs in README are not found (404)"
I find some URLs in README not found, like

export: http://nbdev.fast.ai/export.html

But I can access https://nbdev.fast.ai/export/

Similarly, http://nbdev.fast.ai/export2html.html, http://nbdev.fast.ai/export2html.html

[2019-12-30 09:20] daviddemeij opened #29 "_config.yml is not generated using nbdev_build_docs"
When using `nbdev_build_docs` from the command line the `_config.yml` file in the `docs` folder is not generated.

When using the below code in a notebook cell it does work.
[code]

[2019-12-30 09:49] sgugger commented on #29
Yes, but you are mixing two commands: your cell is the equivalent of `nbdev_build_lib`. You have to run this at least once before running `nbdev_build_docs` (it needs the package to exist to work).

[2019-12-30 09:49] #29 closed

[2019-12-30 11:17] sgugger commented on #28
Thanks for flagging, this is now fixed.

[2019-12-30 11:17] #28 closed

[2019-12-30 13:29] daviddemeij opened #30 "broken image urls"
I found out my previous pull request resulted in some broken URLs (as pointed out in #28), this didn't show up in my tests since the tests were using the previous URL pattern.

I saw that @sgugger already fixed some of these issues by setting a `doc_url` in `settings.ini` (while I was also working on it) and it seems to be working now. The only downside of this is that some URLs will point to an e

[2019-12-30 14:22] sgugger commented on #30
The work on urls is ongoing (We have actually split doc_url between doc_host and doc_baseurl so that the links also work when you test your doc website locally).
I'll look at the images as I continue working on this.

[2019-12-30 14:59] sgugger commented on #30
Image links are fixed now.

[2019-12-30 14:59] #30 closed

[2020-01-02 19:17] paulkarayan opened #32 "nbdev template error when using nbdev_build_lib -_config.yml not found - when following "Getting Started" directions #6"
please see:
https://github.com/fastai/nbdev_template/issues/6

[2020-01-02 20:03] paulkarayan opened #33 "possible error in tutorial - 00_core vs. index?"
see tutorial sections:
https://nbdev.fast.ai/tutorial/#Add-a-class

![image](https://user-images.githubusercontent.com/1227327/71689794-c6447000-2d57-11ea-9d57-d9ad9296d15c.png)

I think this is supposed to be 00_core.ipynb

[2020-01-03 08:44] #32 closed

[2020-01-03 08:45] #33 closed

[2020-01-03 08:45] sgugger commented on #33
Thanks for flagging, fixed, will update the docs in a separate commit.

[2020-01-05 10:26] lewtun opened #34 "_config.yml not included after clone from nbdev_template"
## Description

I'm following the steps in the [tutorial](https://nbdev.fast.ai/tutorial/#Set-up-Repo) and find that the [Build lib](https://nbdev.fast.ai/tutorial/#Build-lib) step fails with the following error:

[code]

For some reason, the `_config.yml` file is not generated when using [nbdev_template](https://github.com/fastai/nbdev_template/generate) - see [here](https://github.com/lewtun/ds-

[2020-01-06 01:56] sachinruk commented on #34
+1 with the same issue. I created my nbdev repo yesterday as well.

[2020-01-07 11:13] daviddemeij commented on #34
I also experienced the same issue.

[2020-01-07 12:36] daviddemeij commented on #34
The new version of nbdev (cloned from Github) seems to fix this, probably it is not on pypi yet.

[2020-01-07 12:52] sgugger commented on #34
Let me check when the last release was done, but I'll do one today if the fix is not on PyPi. It is on master, so closing this issue.

[2020-01-07 12:52] #34 closed

[2020-01-07 14:37] daviddemeij opened #37 "doc_host and doc_baseurl are not used properly in Heroku"
I am running my documentation in an Heroku app that has an url of the form https://appname.herokuapp.com which I set as `doc_host` in the `settings.ini` file and I set the `doc_baseurl` to `/`.

When I run it like this locally it works as expected. However, when I push this to my Heroku app, the menu links don't work anymore and point to https://module instead of to https://appname.herokuapp.com/m

[2020-01-07 15:16] sgugger commented on #37
I'm not familiar with Heroku at all so I don't know how this can be made to work like jekyll. For jekyll-powered website, baseurl is added to the host url (see [here](https://byparker.com/blog/2014/clearing-up-confusion-around-baseurl/)) which is why this done this way.
I'm closing this issue but if you find a setting in _config.yml we can add to make your life easier (is there an hosturl for inst

[2020-01-07 15:16] #37 closed

[2020-01-07 16:15] daviddemeij commented on #37
On Heroku it is also running Jekyll, that's why I was surprised it doesn't work the same as https://nbdev.fast.ai.

We found out that it can be fixed easily by setting the `doc_host` and `doc_base` to empty in `settings.ini`, even the cross-reference links to different modules and functions seem to work perfectly now on Heroku.

[2020-01-07 16:29] sgugger commented on #37
Maybe you need a CNAME file like [the one](https://github.com/fastai/nbdev/blob/master/docs/CNAME) we have for nbdev?

[2020-01-07 16:41] daviddemeij commented on #37
I have tried that, but it didn't seem to change anything.

[2020-01-07 16:44] daviddemeij commented on #37
The only thing is that is still a bit annoying with our solution is that it is now trying to find images at https://appname.herokuapp.com/module/images/image.png instead of at https://appname.herokuapp.com/images/image.png.

[2020-01-07 17:30] sgugger commented on #37
That is expected: since your url + baseurl is `https://appname.herokuapp.com/module/`, it looks inside `https://appname.herokuapp.com/module/images`. With the images actually being in the docs/images folder, I'm not sure why the structure is not replicated on the actual deployment server?

[2020-01-07 17:49] daviddemeij commented on #37
I mean that it is looking for images relative to the current page so for example if I am on
https://appname.herokuapp.com/utils/ it searches the images at https://appname.herokuapp.com/utils/images/example.png
(My index page is at https://appname.herokuapp.com/)

I think this was also an issue before you implemented the `doc_host` and `doc_base`.

[2020-01-07 17:50] daviddemeij commented on #37
Actually this is only a problem locally, on the herokuapp everything works now. (just by setting `doc_host` and `doc_base` to none)

[2020-01-07 17:50] sgugger commented on #37
Is this on the latest master branch? This should have been fixed now, using baseurl.

[2020-01-07 18:01] daviddemeij commented on #37
Yes, it is on the latest master branch, when I change the `doc_base` to `/` the reference links do work locally but the images still have the same problem (on Heroku it only works if I set `doc_base` and `doc_host` both to nothing).

[2020-01-08 10:41] daviddemeij commented on #17
Maybe something goes wrong because of the backslashes used in Windows paths? Or has nbdev been tested on Windows already?

[2020-01-08 12:18] sgugger commented on #17
No, this is not that. nbdev works on Windows and has been tested, with the exception of the diff command however (this will be fixed when I have time to rewrite it).

[2020-01-08 19:41] hamelsmu opened #38 "Help Using `notebook2html`"
I am trying to use `notebook2html` by itself.  I'm confused because I'm able to import the library just fine

`from nbdev.export2html import notebook2html`

However, getting a strange error regarding `ModuleNotFoundError` when trying to call `notebook2html` in an ipython console.  Perhaps its something to do with the way nbdev is being called but I'm not sure?

[code]

[2020-01-08 20:47] sgugger commented on #38
That is weird indeed. So this error comes because `notebook2html` executes all the cells with `show_doc(function_or_class)` (that are automatically added in place of exported code cells). For this to work, it adds a cell `from nbdev.showdoc import show_doc` at the top of the notebook, which for some reason is failing.
My best guess would be that the environment in which nbconvert executes the note

[2020-01-08 21:08] hamelsmu commented on #38
Thanks @sgugger are you able to reproduce this error?  If not, that might at least start giving me hints on how to proceed.

Interestingly, I am not calling `showdoc` anywhere in my notebook, but not sure that matters in this case.

I tried installing nbdev in my global environment but that didn't help.

BTW How do you generate blog posts for the main fast.ai website from Jupyter Notebooks, do you

[2020-01-08 21:13] sgugger commented on #38
No I haven't been able to reproduce that bug. In ipython, your code works fine for me.
It doesn't matter if you code doesn't call `show_doc`. Each time you define a function that is exported, the command `notebook2html` will replace it by a show_doc cell before converting to HTML.

To generate blog posts, we use the command `nbdev_nb2md`.

[2020-01-08 21:42] hamelsmu commented on #38
Thanks @sgugger I was able to make this work inside a Docker container, so maybe something funky with my local environment?  Should I close this issue?  Thanks for the insights

[2020-01-08 21:45] sgugger commented on #38
Glad you managed to get it to work. Probably an env issue yes. Let's close this, but please reopen if you find a reproducible way of getting the bug!

[2020-01-08 21:45] #38 closed

[2020-01-09 02:21] leemengtaiwan opened #39 "Customize Documentation Page / Theme"
Thanks for the project, very excited about this! I managed to set up my first nbdev documentation page as the tutorial under my domain:
- https://leemeng.tw/datascience_toolkits/#

I want to go a step further to customize the documentation page to make its style consistent with my own existing blog (which is set up by [Pelican](https://docs.getpelican.com/en/stable/)):
- https://leemeng.tw

Do you

[2020-01-09 10:45] daviddemeij opened #40 "function reference URL in tip or note will break jekyll build"
I discovered that when using a function reference URL in a `> note:` or `> tip:` it will break the jekyll build locally as well as on my Heroku app with the following exception:
[code]
I confirmed this by removing one of the links (then it gave an error on the next one) and by removing both of them (solving the error).

I think this is caused by the double quotes in the url breaking the `content="

[2020-01-09 14:28] sgugger commented on #40
Fixed by #41

[2020-01-09 14:28] #40 closed

[2020-01-09 14:31] sgugger commented on #39
Hi there!
I have no idea on how to begin since I haven't used Pelican a lot and forgot pretty much everything about it. The documentation style is defined by the css in the base template, it is certainly possible to customize those.

I think you would find more help on the [forum](https://forums.fast.ai/t/nbdev-discussion/59145) since this is where we usually have all discussions. Closing the issu

[2020-01-09 14:31] #39 closed

[2020-01-09 16:14] juansensio opened #42 "Math in Markdown"
Hi. I am using nbdev to develop my library and everything works fine except for the rendering of math in the README.md. It looks ok in the documentation, but it is not rendered in Github's README.md (the $$ signs still appear). I can see you have the same issue in your very own REDME.md. Are you aware of this issue ? Thanks.

[2020-01-09 16:47] ofou commented on #42
The math rendering on github is currently unsupported as explained on [this](https://github.com/github/markup/issues/897#issuecomment-326506820) thread and [re-opened](https://github.com/github/markup/issues/1294) on the Github's markup issues.

[2020-01-09 21:50] #42 closed

[2020-01-12 06:06] vin136 opened #45 "Key error."
Hello ndbev team,
When i'm trying to follow Jeremy tutorial on nbdev i was not able to build the library.

(base) mac:fastrl[master*] »nbdev_build_lib
Traceback (most recent call last):
  File "/Users/vinay/anaconda3/bin/nbdev_build_lib", line 11, in <module>
    sys.exit(nbdev_build_lib())
  File "/Users/vinay/anaconda3/lib/python3.7/site-packages/fastscript/core.py", line 73, in _f
    func(**ar

[2020-01-12 06:10] #45 closed

[2020-01-12 13:01] andaag opened #46 "nbdev_build_docs failure on markdown.tpl"
[code]

At first glance looks like a duplicate of https://github.com/fastai/nbdev/issues/8, but I'm using nbdev 0.2.5.

[code]

[2020-01-12 13:02] andaag commented on #46
This is pipenv installed, using python 3.6.9.

[2020-01-12 13:29] sgugger commented on #46
It's not a duplicate of #8 as this file is not provided by us but nbconvert. Can you check you have the latest version of that module?

[2020-01-12 19:24] andaag commented on #46
I do, a bit too latest version, I was on a prerelease of nbconvert. Sorry about the noise!

(this breaks with nbconvert 6.0.0a)

[2020-01-12 19:24] #46 closed

[2020-01-13 14:34] quocpeyrot commented on #13
I'm getting a syntax error with the form "import .utils as u"

from the documentation it seems this is indeed illegal:
https://docs.python.org/3/reference/import.html

`Absolute imports may use either the import <> or from <> import <> syntax, but relative imports may only use the second form;`

from that documentation, it seems relative import should only be used with the form `from [...] import

[2020-01-13 14:36] sgugger commented on #13
It would be good to document this, if you want to suggest a PR in that direction.

[2020-01-13 14:45] quocpeyrot commented on #13
I'm not sure I understand what you're asking.

From what I can tell from the documentation (and the fact that I'm getting an SyntaxError with Python 3.7), the request from this issue was bogus, and should be reverted?

It doesn't seem to work with Python 3.7, and the documentation from 3.8.1 linked above tells the same.

[2020-01-13 14:55] sgugger commented on #13
The first one is still useful (a simple import lib_name.module should be changed to import .module). The second one doesn't work indeed, so it should be documented (in this case, since it doesn't work, we don't really care about the conversion or am I missing something?).

[2020-01-13 15:02] quocpeyrot commented on #13
I'm confused, are you saying that `import .module` is valid?
It doesn't seem to be working for me either (and the documentation doesnt tell it either)

(and yes, I think those cases should just be ignored and not converted)

[2020-01-13 15:14] sgugger commented on #13
Done in [this commit](https://github.com/fastai/nbdev/commit/051df1d0c61d36f42c814a85e3f91dbb81037911).

[2020-01-13 18:26] quocpeyrot commented on #13
is the assert forbidding `import lib_name.module`? I haven't tested your commit, but the regexp seems to match for it? (sorry if I am misreading the commit)

`import lib_name.module` is valid as is (absolute import, using the full lib_name as a prefix), and should therefore be allowed, *but* it should not be replaced with `import .module` (which isn't valid)

[2020-01-13 18:32] sgugger commented on #13
I see your point. Sorry it's taking me a while to understand what you mean since I never use those imports for submodules.
So yes, in that case we just need to remove the test entirely.

[2020-01-15 09:03] andaag opened #48 "Support determenistic builds"
Currently nbdev installs the latest versions of dependencies, so unless you put every transitive dependency in settings.ini which is quite cumbersome. You won't have deterministic builds.

I'd like to see support for systems that deal with this better. requirements.txt is probably the most used one, but I strongly favor pipenv personally. (https://pipenv.kennethreitz.org/en/latest/)

One way of do

[2020-01-15 14:34] sgugger commented on #48
Hi there! We keep issues for known bugs only, so please use the [forum](https://forums.fast.ai/) for all feature requests. We can definitely think of how to make the dep management more flexible to support more use cases, and the forum would be a great place to gather community's ideas on how to do that best.
Closing this in the meantime.

[2020-01-15 14:34] #48 closed

[2020-01-15 22:57] leifulstrup opened #49 "say_hello function in tutorial.html needs to return f'Hello {to}!', not just print it"
The say_hello function in tutorial.html needs to return f'Hello {to}!'

If not, the assert test throws an error.

[2020-01-16 08:43] andaag opened #51 "notebook2script saves based on data on filesystem, not jupyter content"
So this issue is a bit hard to describe, but very logical when you look into it.

To demonstrate create the following new notebook
[code]
If you execute this from top to bottom, it won't export what would be expected. The reason is due to how jupyter saves files in checkpoints/to disk. notebook2script will work on the ipynb file on disk, but that's only saved by default once every 120 seconds.

Th

[2020-01-16 14:45] sgugger commented on #51
I'm not sure this is an issue. Yes, you have to remember to save to disk before exporting, the same way you have to remember to save your module before you can use your library. Maybe we can document it better and add a big flag in the cell that exports in the template, but it's not unnatural and you quickly get the hang of it.

Auto-triggering the export on a save would be dangerous since you may

[2020-01-16 14:47] sgugger commented on #49
It does return that. Not sure what the issue is?

[2020-01-16 14:47] #49 closed

[2020-01-16 14:50] leifulstrup commented on #49
Example say_hello function in the tutoial instructions has print as the last statement. When I run the assert test it fails. I revised the function to return the value after the print statement. The assert test now works. I think your example needs to be revised.

[2020-01-16 14:53] andaag commented on #51
I would argue it is unnatural. As a developer when you think about it its extremely understandable, but in the context you are working when you save is completely unimportant.

Is that really a case? I think this depends a bit on how you view the generated files... The way I look at this is the notebook and the attached .py module is coupled. If my notebook is broken I'd expect the associated .py

[2020-01-16 14:55] sgugger commented on #49
Ah got it! Should be fixed now.

[2020-01-16 15:03] jph00 commented on #51
Personally I wouldn't expect exporting to work without saving a notebook. All our tools as developers work on saved files; I wouldn't want nbdev to have some magic that changes this. I also wouldn't want exporting to happen automatically when I save - I save frequently, and export rarely.

The answer is just to press `s` before you run that cell. :)

[2020-01-16 15:03] #51 closed

[2020-01-17 02:53] dustinvanstee opened #52 "Running nbdev_build_lib generates FileNotFoundError"
Here is my sequence .
1.  I generate my project from the github template,
2. clone my project to my local machine
3. edit my settings.ini file with my project meta data
4. run nbdev_build_lib

When I run nbdev_build_lib i get this error.

nbdev_build_lib
Traceback (most recent call last):
  File "/gpfs/home/s4s004/vanstee/anaconda3/envs/powerai-1.6.2/bin/nbdev_build_lib", line 8, in <module>
    s

[2020-01-17 15:56] sgugger commented on #52
Are you sure this is on the latest version? We had that bug but it has normally been fixed.

[2020-01-18 22:54] coderbee commented on #49
Minor typo in nbs/tutorial.ipynb. Edit settings.init -> Edit settings.ini

[2020-01-19 21:05] dustinvanstee commented on #52
Thank-you, I was on 0.2.4 and upgraded to 0.2.7 .  Now it works.  Appreciate it!

[2020-01-19 21:05] #52 closed

[2020-01-20 22:10] davidefiocco opened #59 "Does nbdev work if my repo is not hosted on GitHub?"
In one of the first steps of the README, the user is asked to create a (GitHub) repo from the template.

My code runs on a local git server (as my organization doesn't use GitHub atm).

Can I run/use nbdev anyway, or is GitHub a hard dependency? (in case it is, it might be helpful to state it early on in the README). Thanks!

[2020-01-21 08:39] daviddemeij commented on #59
yes it should work, I guess only the workflow file in the `.github` directory won't run continuous integration. You can just clone the nbdev template (or use `nbdev_new`) and then add your own remote.

[2020-01-21 13:33] ddobrinskiy commented on #13
Ahh, my bad. I used invalid syntax in issue body. Sorry for misleading.

All works for me now, thanks for the quick fix!

[2020-01-21 14:34] sgugger commented on #59
Indeed. The only dependency on GitHub is to be able to use `nbdev_template` repo as a template, but you can just clone it with another git server and rename it.

[2020-01-21 14:34] #59 closed

[2020-01-21 19:08] cpow-89 opened #61 "Dependency to twine package is missing."
Greetings,
I tried to add my project to pypi. I followed the instructions under "Adding your project to pypi" and ran into the following error:

[code]

I was able to fix the issue by running `pip install twine`. But I think it would be helpful to add twine to the nbdev requirements or at least but a note under "Adding your project to pypi" that this step might be needed for first-time users of py

[2020-01-22 15:52] #61 closed

[2020-01-22 15:53] sgugger commented on #61
Thanks for flagging this. I added a note in the doc, making it a dependency would be wrong since nbdv doesn't really depend on this, it's just need for packaging.

[2020-01-22 22:51] hamelsmu opened #64 "Installation Error With Latest Version of nbdev followed by nbdev_install_git_hooks"
I'm running this in a Docker Container to ensure reproduceability:

I run
`pip install nbdev`

followed by
`nbdev_install_git_hooks`

And I get the below.  I am able to reproduce this error

[code]

[2020-01-22 22:52] hamelsmu commented on #64
cc: @sgugger

[2020-01-22 22:54] #64 closed

[2020-01-22 22:55] sgugger commented on #64
Indeed, it tries to locate the settings.ini file file to know the base directory of the repo. Defaulted to the current path if there is no settings.ini file.

[2020-01-22 22:58] hamelsmu commented on #64
Sorry

[2020-01-22 22:59] sgugger commented on #64
No problems, it was a bug, not a feature ;)

[2020-01-23 05:56] hamelsmu commented on #17
@BirkhoffG can you supply a public version of this notebook ( or a stripped-down version thereof )?  I would like to see if I can reproduce this error!

[2020-01-27 14:39] sgaseretto opened #70 "Multiple translations in the same Notebook"
Is there a way to add multiple markdown translations and using something like a tab button to switch to that translation, instead of having to duplicate a notebook per language, making it harder to maintain the source code? When talking about translations I'm refering to handmade ones, not autogenerated by something like Google Translate

[2020-01-27 15:28] sgugger commented on #70
Interesting point. I don't think there is such a feature in jupyter, and we didn't develop anything to support this. I guess we should continue this discussion on the [forum](https://forums.fast.ai/c/fastai-users/nbdev) as we keep discussion for new features there and the issues for known bugs only.
Thanks!

[2020-01-27 15:28] #70 closed

[2020-01-30 20:44] hamelsmu commented on #17
@BirkhoffG this appears to definitely be something in your notebook.  For example, if I open `00_export.ipynb` and run the following cells

[code]

I don't see your error

[2020-02-03 14:29] sgugger commented on #17
I'm closing the issue since we can't reproduce and fix, please do not hesitate to reopen with an example of the bug (preferably with the notebook file that fails).

[2020-02-03 14:29] #17 closed

[2020-02-05 07:07] raynardj opened #79 "export to 2 modules from 1 notebook"
* I was trying to export 2 modules from 1 single notebook, as I learnt from the doc [here](http://nbdev.fast.ai/export/index.html#is_export)
* Upon ```nbdev_build_lib``` , I ran into error
[code]
* I realize ```#default_exp [module]``` can solve this, as this call the function ```create_mod_file``` to create the ```__all__``` expression , but put 2 ```#default_exp``` cells in 1 notebook will make

[2020-02-06 14:08] svenstehle commented on #25
Using show_docs in the index.ipynb even in the same cell as a function or class declaration does not work and throws an error while building the docs. It works when I use it inside the notebook cell itself though (core and index both!):

An error occurred while executing the following cell:
------------------
class HelloSayer:
    "Say hello to `to` using `say_hello`"
    def __init__(self, to): s

[2020-02-06 14:30] sgugger commented on #79
The library doesn't support having two different `default_exp` values. To export a cell in a different module than the default you set, set the flag `# export module_name`. If you want to export one given to cell to two different modules, you will need to duplicate it with two different export flags for now.
Hope this helps solve your issue!

[2020-02-06 15:13] openthings opened #80 "run command nbdev_build_lib got KeyError: 'copyright'"
i am running command nbdev_build_lib, got：
[code]

add following to setting.ini,success:
[code]

[2020-02-06 15:17] #80 closed

[2020-02-08 15:30] deep-diver opened #81 "I think `add_jekyll_notes` is not flexible?"
While looking around `fastpages` project, I have felt `add_jekyll_notes` is not flexible. (I might be wrong)

[code]

Above is `add_jekyll_notes` function, and `_styles` are defined and assigned with static values.
When I want to add more styles  like embedded twitter post or something, I need to define my own function. However, the only thing that has to change is `_styles` while the remaining co

[2020-02-09 06:52] raynardj commented on #79
Thanks for the reply,  yes I realize there is ```# export module_name ```
But this will run in to error when ```nbdev_build_lib```
[code]

[2020-02-09 15:12] sgugger commented on #81
We could make that an argument in Config, which means anyone could set it to what they want in their `settings.ini`.
Or we could consider that anything like > title: quote is to be embedded that way.

In any case we are on a book deadline for now, so won't work on this before the week after next I think.

[2020-02-09 15:19] deep-diver commented on #81
@sgugger Maybe I could contribute on this?

[2020-02-09 16:04] hamelsmu commented on #81
@deep-diver this is a great idea.  I like the `settings.ini` approach, in case someone wants to legitimately put `>` in their markdown for another reason

[2020-02-09 16:07] sgugger commented on #79
What is the exact comment you type, so that I have a reproducer?

[2020-02-11 07:49] raynardj commented on #79
### Reproduce the ```No such file or directory``` error
eg. the [dummy notebook](https://github.com/raynardj/forgebox/blob/master/nbs/test_nbdev.ipynb) I was trying to convert,

I ran ```nbdev_build_lib```, the following is the error:
[code]

However, the [test_nbdev.py](https://github.com/raynardj/forgebox/blob/master/forgebox/test_nbdev.py) was built successfully.

### Try the empty file
I guess

[2020-02-11 13:14] rtmatx opened #84 "source link to methods or classes for locally hosted website"
Hi,

Thanks for the amazing repo. I am able to get it up and running in a day with all the content transferred from my existing repo.

I have a private repo which I am hosting locally instead of Github Pages. I followed the documentation available in the repo for local hosting

But the documentation website(locally hosted) doesn't have correct links to the methods and classes used in the notebook.

[2020-02-11 15:20] benjaminvdb opened #85 "Generate submenu item for submodule in sidebar"
Hello all 👋

I have created several notebooks following a structure like this:

[code]

each defining a default export, e.g. `# default_exp explore.first` at the top of the notebook.

For readers of my documentation, it would be clear if the submodules (e.g. `explore.first` and `explore.second`) would get their own submenu item in the sidebar. From the [fastai custom sidebar](https://raw.githubuse

[2020-02-11 19:29] sgugger commented on #85
It's not yet supported, though it is a very reasonable feature request. It would require a little bit of work but is feasible. I'm putting it on my TODO for when I have time. As a workaround while waiting, use the fastai custom sidebar you mentioned

In the meantime, closing this issue since feature requests should go on the [forum](https://forums.fast.ai/c/fastai-users/nbdev).

[2020-02-11 19:29] #85 closed

[2020-02-11 19:31] sgugger commented on #84
You can specify `doc_host` in your settings.ini file to point to the doc website of your choice, and you can customize `git_url` if what annoys you is wrong links to the source code.

Let me know if this is not what you were looking for (but in this case please a bit a bit more precise ;) ).

[2020-02-11 19:31] #84 closed

[2020-02-11 19:37] sgugger commented on #79
You have to put a number of your notebooks since they need to run in a certain order during nbdev_build_lib:
- the notebook creating different_file.py has to run first so that the module exists
- then the notebook creating test_file.py can run and add its function different_file_func to different_file

This is why all notebooks in our nbdev-generated packages begin with digits.

[2020-02-11 19:37] #79 closed

[2020-02-11 19:50] #81 closed

[2020-02-11 19:51] sgugger commented on #81
Added support for this, using a field called `jekyll_styles` in the settings.ini.
Also updated the [template](https://github.com/fastai/nbdev_template) to show how to use it.

[2020-02-11 22:28] hamelsmu commented on #81
@deep-diver please note that this doesn't fix the problem of `youtube` and `twitter` because I need to wrap those in code blocks to prevent nbconvert from placing link tags around those automatically.

Its hard to see but I enclose the content in backticks to "escape the html" which is a special case and why I monkey patched it here.

https://github.com/fastai/fastpages/blob/master/_action_files/n

[2020-02-11 22:37] hamelsmu commented on #81
@sgugger can you upload a new release of this to pypi so I can integrate these changes in fastpages?  For stability reasons, I'm going off what's uploaded to pip instead of referring to master.

P.S. _Let me know if you need help completely automating the pip release process via Actions_

[2020-02-12 03:20] raynardj commented on #79
yes I tried,  the correct order can generate py files correctly.  yes

but ** nbdev_build_docs** will have error ```NameError: name 'different_file_func' is not defined```

[2020-02-12 03:22] sgugger commented on #79
I need more than this as I can't reproduce what you are saying. Please share a whole folder with the numbered notebooks, exported library where the error appears.

[2020-02-12 03:24] sgugger commented on #81
Release done

[2020-02-12 03:40] raynardj commented on #79
I added the following 2 files into a [nbdev template repo](https://github.com/raynardj/nbdev_test)

* [01_create_different.ipynb](https://github.com/raynardj/nbdev_test/blob/master/01_create_different.ipynb), this will create a file using ```#default_exp different_file```
* [02test_nbdev.ipynb](02test_nbdev.ipynb), inserting a function to ```different_file.py```

#### Then in this step, everything

[2020-02-12 08:59] benjaminvdb commented on #85
@sgugger Sorry! I posted it here out of habit. I didn't know the forum is the place to post feature requests; I was expecting a 'feature request' label here. Perhaps you could include this in the documentation - in case it's not there yet - to save yourself some work?

Thanks for your quick response and keep up the good work 👍

[2020-02-13 16:36] LinkHS commented on #25
The problem still exists.

[2020-02-14 16:04] benjaminvdb opened #92 "TOC generation breakage"
Hi,

When I put text directly after the notebook title cell, the table of contents is not generated correctly. I've attached a screenshot of the notebook and the resulting documentation page.

- The methods are correctly shown in the TOC, but the headings are not. Instead, they are printed just after the TOC with bullet points.
- The problematic text is not shown in the generated documentation.
-

[2020-02-15 15:13] sgugger commented on #92
The toc is correctly generated. I think the issue is on jekyll here, which requires to have one header two before header three or four.

You can give a higher header to your calls to `show_doc` with the argument `title_level` (default is 4 for auto-inserted cells, but if you write it yourself, you can specify the one you want) but other than that, there is nothing to be done apart making sure it h

[2020-02-15 15:13] #92 closed

[2020-02-15 16:27] benjaminvdb commented on #92
@sgugger Thanks for the reply. It's not a big issue. I just wanted to be a good citizen and report the problems I'm having with this library. However, it has been a breeze working with `nbdev` and the issues are only minor.

Perhaps a mention of this Jekyll issue can be made in the documentation?

[2020-02-15 18:09] sgugger commented on #92
Sure, any PR to add details about this would be most welcome!

[2020-02-15 22:09] benjaminvdb commented on #92
Alright, I'll see if I can make some additions. Cheers!

[2020-02-17 17:14] rtmatx opened #93 "How to create subfolders for the documentation website"
Hi,

I am able to create subfolders in the `library_name` folder (`libraryname/foldername/modulename.py`) by assigning the `default_exp` to `foldername.modulename`.  I also renamed the notebook to `number_foldername.modulename.ipynb`.

But the documentation website for my repository still doesn't have any subfolders like I see in the documentation for `fastai2` website at [https://dev.fast.ai/](ht

[2020-02-17 19:15] rtmatx commented on #93
I figured it out. For those who look at this question later, you have to set `custom_sidebar` to `True` and modify the `sidebar.json` in the docs folder

[2020-02-17 19:15] #93 closed

[2020-02-18 03:20] drscotthawley opened #94 "Image URLs are getting treated as files"
Following up from fastpages issue https://github.com/fastai/fastpages/issues/58.

The error happens precisely in nbdev/export2html.py, in `copy_images()`, line 143:

[code]
At this point, src is still a URL.
Example, I added a print statement just before this line for one of my image urls (see https://github.com/fastai/fastpages/issues/58)

Output was:
[code]

This copy command tries to treat `src

[2020-02-18 03:41] drscotthawley commented on #94
Here's a fix, to be added right before the `os.makedirs()` line, (line 142), something like:

[code]
Doing this solved my errors with external image URLs.

Now...embedded objects (e.g. plots from plot.ly) are also being treated as they were files too.  These extremely long strings then produce "filename too long" errors.    Ideally, I'd imagine one would want to simply leave these things alone and

[2020-02-18 03:55] drscotthawley commented on #94
Ok, fixed the embedded object problem too:
[code]
...So now the build will complete without errors, and the plot.ly interactive plots work in the generated .html file, BUT...

but actually the external images aren't there in the final html file!

So, my 'fix' return statement only seems to strip out the external images entirely.

[2020-02-18 03:58] #94 closed

[2020-02-18 03:59] sgugger commented on #94
I think there were a few more things to add, but I added tests and all seems to pass now.

[2020-02-18 04:22] drscotthawley commented on #94
Oh great!  That fixes the external image problem. Thanks!

Now, could you also add a
[code]
...to the line immediately before the `os.makedirs()` line in `copy_images()`?

Doing this will allow imbedded object-images such as interactive plots from plot.ly to work *perfectly*.  :-)

[2020-02-18 17:07] sgugger commented on #94
I added that. Can you make one last test on your side before we make a release?

[2020-02-18 18:04] drscotthawley commented on #94
Thanks. Gladly.  Um...I will need to read up on your methodologies for doing tests the way you like.  My naive method would be to add an entire new .ipynb file in the repo to test against, but I'm guessing that would be too 'bulky' for fastai style.

[2020-02-18 18:13] sgugger commented on #94
Oh no, I was just saying: test is on fastpage with your own notebooks to make sure all works okay, not add some tests to nbdev. :)

[2020-02-18 18:40] drscotthawley commented on #94
Oh, ok!  Great.
I see that your version has "return cell" for that new line, whereas my version just has "return".

In running these on [my test notebook file](https://github.com/drscotthawley/devblog2/blob/master/_notebooks/2019-12-21-PCA-From-Scratch.ipynb),Your version produces errors that halt the code (see below), whereas mine runs to completion but ...on closer inspection...produces [output

[2020-02-18 18:54] sgugger commented on #94
I thought your line was weird but mine was worse ;). Tried something else to unify the approaches, let me know if it works better.

[2020-02-18 19:09] drscotthawley commented on #94
I *think* it's fine now, thanks.  But to be sure, would you mind taking a look the HTML output for the `nbdev/nbs/tutorial.ipynb` page that I just created using your newest `export2html` code, to make sure it looks like you want it to?
Posting it here: https://hedges.belmont.edu/~shawley/2020-02-18-nbdev-tutorial.html

 It also has the "paragraph symbols", and I'm not sure if they're supposed to b

[2020-02-18 19:13] drscotthawley commented on #94
...wait, none of the inline math is rendering now, such as $x$ or $f(x)$.
Full-line math is rendering ok.

[2020-02-18 23:00] drscotthawley commented on #94
As per https://github.com/fastai/fastpages/issues/71,  HTML "<img src" is getting translated into Liquid "{% img" by nbdev.  This breaks embedded image objects because Liquid can't handle the long strings.
Might prefer for nbdev to leave "<img src" as is, and not translate it to Liquid.

[2020-02-18 23:22] sgugger commented on #94
No we won't go back to '<img src' since it doesn't display properly normal images with good resolution (examples: screenshots in the index of nbdev.fast.ai). We can add a hack for embedded images instead.

[2020-02-21 15:09] hamelsmu opened #96 "Best way to export captions from markdown in nbdev?"
the fastai blog has captions

![image](https://user-images.githubusercontent.com/1483922/75045894-edc2d980-5478-11ea-9d4c-aa936905b89f.png)

Would love to add this to fastpages, not completely sure how to inject captions.

I took a look at https://github.com/fastai/nbdev/blob/2eb60a5634d2296bc6b67fcd671ca0d584e22e35/nbs/index.ipynb, and it looks like this is done via HTML in a notebook like this?

[2020-02-21 17:17] sgugger commented on #96
Normally the text in some description is just for alt, but we could make it a caption too. This would require converting the `![alt](src)` to the html syntax automatically (since it's the only way I know to have caption). I don't think it hurts anything, so I'd say why not. I don't have the bandwidth to implement this right now, but maybe next week.

[2020-02-21 19:25] hamelsmu commented on #96
@sgugger I found out that this is already supported by nbdev!!!!  The title automatically gets converted to a caption!!!

For example

[code]

Results in

![image](https://user-images.githubusercontent.com/1483922/75064923-b2d29d00-549c-11ea-839e-9f34621a99cf.png)

I have updated my docs to reflect this.

[2020-02-21 19:29] #96 closed

[2020-02-21 19:40] sgugger commented on #96
Oh that's cool! Does it work ok with nbdev? I haven't anticipated that in the commands that deal with images, so want to make sure nbdev doesn't destroy anything in the process.

[2020-02-21 19:45] hamelsmu commented on #96
It works great for me, I have encountered no problems - not sure if it is nbdev or nbconvert, but I think the behavior is really good as it is.  This way people can have seperate alt and caption text if they like

[2020-02-26 07:20] JiaxiangBU opened #99 "An automated security update nokogiri"
Hi, I use 'nbdev' to build a Python package. Today I receive an alert from GitHub.
Here is the alert public address https://github.com/JiaxiangBU/pyks/network/alert/Gemfile.lock/nokogiri/open
It suggests I should run `gem "nokogiri", ">= 1.10.8"` to update 'nokogiri'. I don't use 'Ruby' before.
How could I fix this?

In the `Gemfile.lock` file, it sets https://github.com/JiaxiangBU/pyks/blob/525f1

[2020-02-26 16:45] sgugger commented on #99
You should receive an automatic PR with this from GitHub, just merge it and you should be good to go.

[2020-02-26 16:45] #99 closed

[2020-02-27 12:58] Tom-TBT commented on #17
Hello,
I had a similar issue, I'm working with windows. The notebook2script() worked fine until I made submodules. After I got the error, I created new modules that aren't nested and they could be exported fine, so it seems that notebook2script() fails specifically the submodules.

Then I updated nbdev from 0.1.6 to the latest to date 0.2.12 and it worked fine. Hope it can help someone.

[2020-03-17 17:29] TylerLeonhardt opened #104 "URLs in Code cells get mangled"
Original issue over in fastpages https://github.com/fastai/fastpages/issues/215

Take a look at this notebook and scroll down to the NOTE.
https://tylerleonhardt.github.io/blog/jupyter/powershell/pswordcloud/2020/03/16/Word-Clouds.html

I'm using a magic command `#!markdown` to render markdown instead of a normal code block so I can show the markdown code behind it.

Unfortunately, for some reason

[2020-03-17 17:30] TylerLeonhardt commented on #104
I've also been told to @jph00 by @hamelsmu because you might be interested in PowerShell notebooks! 😅

Let me know if there's anything else I can help with!

[2020-03-17 17:57] hamelsmu commented on #104
I can confirm that this happens.  I was able to reproduce this issue.

Another way of explaining it is if you have markdown syntax for images in **a code cell nbdev will change the path as if though its a markdown cell.**,

Granted, I have never tried to put markdown in a code cell before, especially in a Jupyter Notebook, but @TylerLeonhardt has a legit use case where needs to do this for PowerSh

[2020-03-18 06:47] hamelsmu opened #105 "Latest release breaks command `#hide_input`"
Before `0.2.14` the comment `#hide_input` would hide input only

Now, with release `0.2.14` the comment `#hide_input` hides **BOTH** the input and the output.

I believe this is a bug?  Or has this functionality been changed?  @sgugger

Thank you!

[2020-03-18 07:36] hamelsmu commented on #105
P.S. this looks like the breaking commit 49d87156bf0bc94051e52a60bbc17562dd290cd7

I would make a PR to fix, but I'm not 100% sure regarding the intended use cases that regex is supposed to cover.

[2020-03-18 12:45] sgugger commented on #105
I know what the problem is, will fix once the kids give me a break ;)

[2020-03-18 14:02] #104 closed

[2020-03-18 14:03] sgugger commented on #104
Added a test for markdown cells (it was forgotten by mistake).

[2020-03-18 14:13] #105 closed

[2020-03-18 14:15] sgugger commented on #105
Should be fixed and I added a test. Can you confirm the problem is solved? Then I'll cut a new release.

[2020-03-18 15:10] TylerLeonhardt commented on #104
Thanks @sgugger! @hamelsmu, how will I get this fix in fastpages?

[2020-03-18 15:13] hamelsmu commented on #104
You cannot yet - I had to pin the version because of another nbdev bug which will prevent you from enjoying this fix.

I’m going to help test that and then Sylvian will cut another release.

TLDR; you can’t yet but I’ll comment on this thread when it’s all ready and tested.

Thanks everyone for the coordination

[2020-03-18 16:13] hamelsmu commented on #105
Yeah give me  a couple of hours, things are really crazy in my house 🙇

[2020-03-18 18:48] hamelsmu commented on #105
@sgugger I have tested this and you can safely cut a new release now.  🙇  HOWEVER, I have noticed that the versions in pypi and this repo are not aligned.

For example the [highest version in this repo is `0.2.15`](https://github.com/fastai/nbdev/commit/84e4cd3b32cc04c76fdb5281f1671cd4602a6e0a) however the [same release on pypi is on `0.2.14`](https://pypi.org/project/nbdev/#history), so version n

[2020-03-18 18:50] hamelsmu commented on #104
Related issue is  https://github.com/fastai/nbdev/issues/105.

[2020-03-18 19:13] sgugger commented on #105
Yes the version on GitHub is always one more than pypi: that's because master is the new version development.

[2020-03-18 19:22] hamelsmu commented on #105
Ahhh makes sense

[2020-03-18 19:23] sgugger commented on #105
Release done :)

[2020-03-18 19:44] hamelsmu commented on #104
@TylerLeonhardt this should be ready now, you can proceed by just re-generating your pages and everything will just work.  I don't even think you have to upgrade anything

[2020-03-19 16:04] danielpcox opened #106 "Inline images aren't being displayed on nbdev.fast.ai"
I notice that some images aren't being correctly displayed, at least on the front page of nbdev.fast.ai:

![image](https://user-images.githubusercontent.com/56411/77087502-96f9e280-69d9-11ea-9ef1-7fc6b9f61de7.png)

[2020-03-20 17:28] travisdickey opened #107 "Broken hyperlinks inside section summaries in fastpages _notebooks"
In fastpages, placing a hyperlink inside a section summary, that is, after a ">" breaks the link. The link works fine inside Jupyter Notebook, but when posted, the link address is changed.

I re-created the problem in the [Intro to fastpages](https://travisdickey.github.io/portfolio/fastpages/jupyter/2020/02/21/introducing-fastpages.html) notebook. In the first paragraph that begins, "We are pleas

[2020-03-20 18:46] sgugger commented on #106
I have no idea why it's now happening. @hamelsmu so you think there is anything we did for fastpages that could have changed how those {% include image.html ...} work?

[2020-03-20 18:48] sgugger commented on #107
How does the address change exactly? Could you give us a reproducible example using nbdev only?

[2020-03-20 20:25] hamelsmu commented on #106
What page are we seeing this on?

![image](https://user-images.githubusercontent.com/1483922/77203676-35577800-6aae-11ea-8dc6-abad51fd57ba.png)

Is this the sidebar?  That shows up for me ... is it something else that isn't rendering?

[2020-03-20 20:27] sgugger commented on #106
No, not the sidebar, the block with {% include image.html ...} should be rendered as an image (and it used to work).

[2020-03-20 20:29] hamelsmu commented on #107
@travisdickey a link to your notebook on GitHub would be helpful that causes this issue

[2020-03-20 20:32] hamelsmu commented on #106
Oh I see it now!  Yes this probably has something to do with escaping liquid with raw tags.  Taking a look

[2020-03-20 20:40] hamelsmu commented on #106
I opened two separate PRs to fix this issue.  Thanks

[2020-03-20 20:43] #106 closed

[2020-03-20 21:02] travisdickey commented on #107
In this example, the address changes from `https://github.com/fastai/fastpages` to `https://travisdickey.github.io/portfolio/fastpages/jupyter/2020/02/21/%20//github.com/fastai/fastpages`

Here is the link to [my repo](https://github.com/travisdickey/portfolio).

I'll see if I can reproduce the error in nbdev only. Thanks!

[2020-03-20 21:18] hamelsmu commented on #107
I am looking at this and for some reason the URL after running notebook2html becomes this

`<a href="https: //github.com/fastai/fastpages">`. With a space between `https:` and `//` -> this causes Jekyll to think this is an image path.

HTH narrowing down the error.  Somewhere in notebook2html there is something that does this.

[2020-03-20 21:31] sgugger commented on #107
Oh I know what is doing this. Will push a fix this evening or during the weekend.

[2020-03-21 14:08] #107 closed

[2020-03-21 14:08] sgugger commented on #107
Should be fixed now.

[2020-03-21 21:02] drscotthawley opened #110 "Escape LaTeX math with Liquid "raw" tags?"
This is a Feature Request.

At the request of @hamelsmu in PR https://github.com/github/covid19-dashboard/pull/89, I'm opening this Issue to see if there could be automatic support for LaTeX equations in `nbdev` such that they don't generate conflicts with Liquid (for Fastpages) later.

Could you make it so that LaTeX equations (in text cells) such as
[code]
gets automatically replaced with

[code

[2020-03-22 18:15] hamelsmu opened #111 "Question: Captions for local image files just like urls ?"
With nbdev, you can include captions in images like this:

[code]

However, when the link is a local file, instead of a url this is not picked up by nbdev.  For example,

`![](my_icons/fastai_logo.png "hello")`

is not handled the same way - this results an in error when someone tries to do this.  @sgugger  I believe perhaps we should make an ammendment to the `_img2jkl` function:

https://github.

[2020-03-22 18:28] noklam commented on #111
Thx @hamelsmu I just saw the notification and saw you have already opened the issue.

[2020-03-22 19:39] #111 closed

[2020-03-22 19:40] sgugger commented on #111
Should be fixed now. I made sure it works the same way as external images.

[2020-03-22 19:50] #110 closed

[2020-03-22 19:50] sgugger commented on #110
Added. Hope it will be enough to solve your issue.

[2020-03-22 19:51] hamelsmu commented on #111
Wow that was fast.  You close issues like magic on this repo.  I don’t know how you do it - starting to wonder if you are an artificial intelligence😝

[2020-03-22 20:07] sgugger commented on #111
I am only every happy when the number of issues and PRs is 0 ;)

[2020-03-23 13:50] danielpcox commented on #106
Thanks guys!

[2020-03-30 08:44] dragonflowerai opened #115 "async functions not added to _all_"
Hi,

I am using a lot of async functions, and they do not get added to `__all__`

I think the regex you are using to find functions needs to be altered. I am not familiar with the code, so not doing a pull request on this one

[2020-03-30 13:38] #115 closed

[2020-03-30 13:38] sgugger commented on #115
Should be fixed now.

[2020-03-30 17:19] jonilaserson opened #116 "The description failed to render, when running "make pypi""
I followed the instructions and tried to use "make pypi" to turn my notebooks and library into a package. I get the following error:
[code]

My setup.py has
[code]
Where  could the problem be?

[2020-03-30 19:24] theccalderon commented on #116
Do you mind sharing your repo so the contents of the `README.md` file can be checked?

[2020-03-31 01:13] sgugger commented on #116
It means your `README.md` is not valid Markdown, from what I can see of the error message. You should inspect it and check it's all right. Please use the [forum](https://forums.fast.ai/c/fastai-users/nbdev/48) to debug as it's where the wider community is.

[2020-03-31 01:13] #116 closed

[2020-03-31 04:26] dragonflowerai commented on #115
Thanks!

Marco Cerutti | Co-Founder

Email:marcoc@dragonflower.ai

This message contains confidential information and is intended only for reply@reply.github.com.
Please click here for the full email disclaimer, privacy statement and our financial services provider details.
From: Sylvain Gugger <notifications@github.com>
Reply to: fastai/nbdev <reply@reply.github.com>
Date: Monday, 30 March 2020 a

[2020-03-31 08:20] jonilaserson commented on #116
My README.md was auto-generated.  I'll ask in the forum.

[2020-03-31 08:29] jonilaserson commented on #116
I can't seem to be able to generate a new issue in the forum...  I get "You are not permitted to view the requested resource" as I'm trying to post a new topic.

I followed the instructions of nbdev and tried to use "make pypi" to turn my notebooks and library into a package. I get the following error:
    HTTPError: 400 Client Error: The description failed to render in the default format of reStr

[2020-03-31 11:07] jonilaserson commented on #116
SOLVED
had to upgrade some packages:
[code]
Explained here: https://github.com/pypa/warehouse/issues/5890#issuecomment-494868157

[2020-04-02 16:41] tcapelle opened #120 "Integration with GitLab"
Hey @sgugger,
I am trying to integrate nbdev for using with gilab, and I am missing some minor details.
I would like to edit the `template.py` file to add support for GitLab.
Maybe it would be nice to have a variable for the config to setup if github or gitlab is used, so all links from the doc back to the git repo are not broken.
Maybe I am missing other things, could you give me more advice to m

[2020-04-02 16:45] sgugger commented on #120
I'm not sure I can help without understanding that the actual problem is. For wrong links, does changing the git_url in settings.ini not enough?
I just need something more specific to be able to help.

[2020-04-03 10:30] tcapelle commented on #120
I propose something like this:
- Add to the top of `settings.ini` a host flag.
[code]
With this, you can know where you are deploying and take actions.
Then the `template.py` can change the `topnav` to use `{host}{git_url}` instead of the hardcoded link to github.

[2020-04-03 12:18] sgugger commented on #120
That seems reasonable. Do you mind making a PR with those changes?

[2020-04-03 13:03] pete88b opened #121 "export to a different module causes nbdev_build_docs to fail"
Using nbdev 0.2.16, #export or #exports with module causes build docs to fail;
<pre>
$ nbdev_build_docs
converting: /home/peter/github/decision_tree/10_data.ipynb
An error occurred while executing the following cell:
------------------
show_doc(export_from_data_to_core, default_cls_level=2)
------------------

---------------------------------------------------------------------------
NameError

[2020-04-04 13:30] sgugger commented on #121
That is indeed a bug that will appear if you don't import those modules you export to in the notebook. Fix will require a bit of work, I hope to have some time to work on it this weekend.

[2020-04-04 17:35] lgvaz opened #123 "Hyperlinks in documentation don't work with ">" blocks"
Related with #107 , I updated to the latest version `0.2.17` and I'm getting the same error.

[Here](https://lgvaz.github.io/fastcook/) is an example.

This problem does not happen at the exported `README.md` file

---
**Note:**
Can I be running on a old version? I checked my version by doing:
[code]
But does this mean that this is the version used when I run `nbdev_build_docs`?
I think I'm runnin

[2020-04-05 14:16] sgugger commented on #123
No this is a different issues, it's not a block quote but the summary. I think this is a jekyll problem and not an nbdev problem.
If you find a way to have linked display in a jekyll summary, we can work of automatically converting them when reading those summaries and passing them along, but I have no idea what would be accepted (maybe something purely HTML?)

[2020-04-05 15:08] lgvaz commented on #123
I found [this](https://forums.fast.ai/t/add-hyperlink-to-page-summary-nbdev/63206/4) issue on the forums, I followed your suggestions and used HTML syntax to make the hyperlink in my nb, it worked 😁

So what we can do is write a regex that captures any markdown style links in the summary and convert them to html links. We just need to be sure to use single quotes in the url instead of double quote

[2020-04-05 15:10] sgugger commented on #123
Let me know if you want to work on this one or if I should do it when I have time.

[2020-04-05 15:15] lgvaz commented on #123
I want to give it a try, can you point me to the notebook I'll have to modify? I'm guessing is the `export2html`?

[2020-04-05 15:19] sgugger commented on #123
Yes, it would be in that notebook. The summary is grabbed by `get_metadata`, so I guess it would be a natural place to add the conversion. I'd suggest doing the actual regex conversion in a private helper function that you would use there.

[2020-04-06 14:06] #123 closed

[2020-04-06 14:07] sgugger commented on #120
Fixed by #122

[2020-04-06 14:07] #120 closed

[2020-04-06 22:25] ZivotJeKrasny commented on #37
Hi guys!
I am having the same issue, but I did not manage to work it correctly...
The positive message is it working the same locally and on Heroku. ;)

When I set to "nothing" like:
[code]

The issue is the same as @daviddemeij decribed in https://github.com/fastai/nbdev/issues/37#issuecomment-571696636

It means on index page everything works correctly. Images are loaded from <INDEX_PAGE>/images

[2020-04-07 16:16] ZivotJeKrasny commented on #37
I just found a solution for my problem. It is a workaround but it works ;)

I used [rack-jekyll](https://github.com/adaoraul/rack-jekyll) and [rack-rewrite](https://github.com/jtrupiano/rack-rewrite). I am redirecting all request from .*/images/... to /images/...

## Quick manual
- in settings.ini
[code]

- create file docs/config.ru
[code]

- add these lines to docs/Gemfile:
[code]

- For running

[2020-04-07 18:03] #121 closed

[2020-04-07 18:03] sgugger commented on #121
Ok, should be fixed now.

[2020-04-09 15:26] ddobrinskiy opened #127 "Notebook has no `Title` in docs if sub-title was not specified"
I'm running nbdev `0.2.17`

When building docs I noticed a  warning  `Warning: Some of your Notebooks use the same title`

After fiddling around, I assume that nbdev does not parse a notebook's title if it has no subtitle.

See first screenshot: notebooks have no subtitles, and they do not appear in the warning (Foo and Bar are just `Title`, use colors as guide)

![no_subtitle](https://user-images

[2020-04-09 17:46] DmitriyG228 opened #128 "FileNotFoundError unhelpful error message"
hi, it would be helpful to have the file name in the error report that is causing the following issue while `notebook2script()`:

---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
<ipython-input-8-ec1767d147e7> in <module>
      1 from nbdev.export import notebook2script
----> 2 notebook2script()

[2020-04-09 17:58] DmitriyG228 commented on #128
btw, I was able to find the causing file like that:
`files=[file for file in Path('.').ls() if 'ipynb' in file.name]

for file in files:
    print('--',file)
    notebook2script(file.name)`

[2020-04-09 21:19] sgugger commented on #128
I don't understand what bug you are reporting / what feature you are asking for. Could you be more specific?

[2020-04-09 21:28] #127 closed

[2020-04-09 21:28] sgugger commented on #127
Should be fixed now. Thanks for flagging!

[2020-04-11 08:34] noklam opened #129 "Local Jekyll rendering incorrectly"
#Bug
Local server rendering incorrectly.
It can be noted as the local server address have an extra `/`. I am not sure if I should call it a bug, since it renders correctly when I push to GitHub, but if I want to check from my local server, I have to remove the baseURL `/`.

# Solution
Remove the ending `/`

_config.yml
[code]

to
[code]

# Local server before removing `/`
![image](https://user-ima

[2020-04-11 14:13] sgugger commented on #129
Fixed by #130

[2020-04-11 14:13] #129 closed

[2020-04-12 21:30] nmoran opened #131 "Release tags"
Think it would be useful to tag commits from which releases are created to make browsing the code easier. Is there a specific reason not to do this?

[2020-04-13 12:32] sgugger commented on #131
It's just not automated. Could be a nice feature to add to the automatic MakeFile generated by nbdev.

[2020-04-15 11:52] leemengtaiwan opened #132 "Define notebook title and description through plain front matter"
Note: repost here as suggested by @hamelsmu :)

**Is your feature request related to a problem? Please describe.**

I know we can specify a post's title and description this way in the jupyter notebook:

[code]

But I really want a way to specify all the metadata including `title` and `description` using following more unified format, how can I achieve this:

[code]

I have tried setting `titles_f

[2020-04-15 12:08] sgugger commented on #132
I see two problems with that. First: why would you not want the title to be the tile of the notebook? The goal is to have your notebooks look like the end result, not be some weird code. Note that you can already do the description as:
[code]

Second and most annoying, how would nbdev distinguish such a cell from a regular markdown list? It would require a new special comment. So that would then m

[2020-04-15 12:08] #132 closed

[2020-04-15 12:09] sgugger commented on #128
Closing since there has not been an answer in a while. Please reopen with something clearer and a reproducer.

[2020-04-15 12:09] #128 closed

[2020-04-15 12:10] sgugger commented on #131
I'll close the issue as it's not a bug (and we keep issues for those only). Please post on the forum for the feature request (having nbdev automatically generate a MakeFile that does the tags with `make release`). I've also added it to my TODO for when I have some time but this will probably not be for a while.

[2020-04-15 12:10] #131 closed

[2020-04-15 19:12] nmoran commented on #131
Thanks. If I get a chance to attempt to implement this myself I'll open a pull request.

[2020-04-16 15:07] btrspg opened #134 "How to add a GitHub rep in the dependency"
Hi there,

I have some packages on the GitHub, rather than in pypi. How could I add the dependences in settings.ini?

[2020-04-17 11:44] sgugger commented on #134
I added a `dep_links` key in the settings.ini file (directly on [nbdev template](https://github.com/fastai/nbdev_template) so you should copy the settings and setup file from there). Just put all your links separated by space or new lines (with indentation).

[2020-04-17 11:44] #134 closed

[2020-04-17 12:15] btrspg commented on #134
Thanks, but I found no difference between your link nbdev template and my folked one. But now I thought how could I solve it.

[2020-04-23 16:14] pete88b opened #137 "Does it matter that _all_ can't have line breaks?"
If we use line breaks between the elements in _all_, they don't get added to __all__
See: https://github.com/pete88b/decision_tree/blob/master/60_all_test.ipynb
If this is intentional, I can update the docs - if not, I'd be happy to change the regex and test etc

while we're in that area: should _add2add be called _add2all?

[2020-04-24 01:42] epogrebnyak opened #138 "nbdev_new fails on Windows"
Should  `nbdev_new` be able to create a project template in a new folder?

I'm running this command in on Windows and get `Access denied` error

[code]

[2020-04-24 20:15] sgugger commented on #138
I have not tried to use nbdev on Windows so I don't know if this command works. It seems like your python process does not have permission to remove a folder, which you could do manually.

[2020-04-24 20:17] sgugger commented on #137
Yes `_add2add` should definitely be named `add2all` if you want to make that PR.
As for the line break, tt's not intentional, it just never came up. If it's not too complicated to add, happy to support it, otherwise let's document it and encourage people to do separate `_all_` on separate cells.

[2020-04-24 22:13] epogrebnyak commented on #138
Maybe shutil.rmtree cannot remove a hidden file on Windows. Perhaps safer to use
`ignore_errors=True` below?

https://github.com/fastai/nbdev/blob/master/nbdev/cli.py#L258

[2020-04-25 13:55] sgugger commented on #138
In any case, if you fall back to that it's because there has been an error.

[2020-04-26 11:39] pete88b commented on #137
Nice one Sylvain; Please see https://github.com/fastai/nbdev/pull/140

I've left _all_ without multi-line support as this fits better with an idea i've had for an %nbdev_add2__all__ magic flag ...

[2020-04-26 12:03] sgugger commented on #137
Ok, Closing this then and let's see what your idea is :)

[2020-04-26 12:03] #137 closed

[2020-04-26 14:06] hwine opened #141 "Undocumented assumption in "installation" and "tutorial""
_Disclaimer: I'm a conda/jupyter n00b user - I've always run virtualenv specific jupyter servers. Which is a hassle with the changing ports. So I may be missing something "obvious" about how these work together._

The instructions say "`pip install nbdev`", however they don't say in what context it should be done. The video gives the impression conda/jupyter/nbdev can be setup so your default jupy

[2020-04-27 11:38] sgugger commented on #141
I think those questions would be better ask on the [forum](https://forums.fast.ai/c/fastai-users/nbdev/48) since there are more people looking and interacting there.

I personally only have one developing env so I don't have the answers but obviously, you will need `nbdev` installed in each env you are working with it. Jupyter takes the environment in which it was launched, so you can't develop fo

[2020-04-27 14:37] hwine commented on #141
My reason for filing the issue is that I believe these questions need to be addressed in both:
* the installation instructions, and
* highlighted in the tutorial

Following the instructions results in a non-working tutorial. Which isn't a pleasant introduction to the project.

FYI, you can handle multiple envs in one session -- you just have to:
* create a separate conda environment for each proje

[2020-04-27 16:54] sgugger commented on #141
I welcome any PR clarifying the installation instructions or the tutorial.

[2020-04-28 16:41] hamelsmu opened #143 "Mind cutting a new release?"
@sgugger if you could cut a new release would be great.  Thanks so much

I'll go ahead and close this issue.  Just using this to send you a message 😄

[2020-04-28 16:41] #143 closed

[2020-04-29 12:04] #141 closed

[2020-04-29 22:16] ajing opened #145 "[Question] If I use clicks package, can I still use console_scripts in settings.ini?"
I am more familiar with click and I have something like:

[code]

Can I still do `console_scripts=mycli:mypackage.cli:run` ?

[2020-04-30 09:06] deepettas opened #146 "[Question] GitLab template is missing (404). New location?"
[The GitLab project template](https://gitlab.com/thomas.capelle/nbdev_template/generate) 404s. Is it hosted somewhere else?

[2020-04-30 12:22] sgugger commented on #146
I don't use GitLab, so I can't check. You should ping @tcapelle  on the [forum](https://forums.fast.ai/), that's the most efficient way to solve your issue since he implemented that feature :)

[2020-04-30 12:23] sgugger commented on #145
The console scripts are directly passed to the setup so there is no reason this shouldn't work. Please re-open if it does not.

(Also note we use the issues for bugs only and the [forum](https://forums.fast.ai/c/fastai-users/nbdev) to ask questions.)

[2020-04-30 12:23] #145 closed

[2020-05-01 01:03] evan-burke opened #147 "settings.ini changes in github actions causing build failures"
Hi,

I'm seeing Actions failures on the `Check if all notebooks are cleaned` step, though github desktop and github don't report any repo differences.

This appears to be due to changes to the `settings.ini` file that occur within github actions, which results in `git status` detecting the file as modified. Here's what I'm seeing:
- Comments and blank lines have been stripped
- Dynamically constru

[2020-05-01 12:22] sgugger commented on #147
No, that test does not look at the settings.ini file, it fails if you have committed notebooks with extra metadata.
Normally `nbdev_clean_nbs` and committing will fix that problem for you.

[2020-05-01 17:02] evan-burke commented on #147
Doesn't https://github.com/fastai/nbdev_template/blob/master/.github/workflows/main.yml#L22 look at the entire repo?

[2020-05-01 17:08] sgugger commented on #147
Yes it checks you have a clean git status, it's nothing to do with the cleaning.

Maybe just update your settings.ini to the version updated by `nbdev_read_nbs`? There are new keys now required by nbdev but for backward compatibility, they are added when needed. So calling `nbdev_read_nbs` with the latest version of nbdev on your local repo should give you the proper settings.ini file to commit.

[2020-05-01 18:10] evan-burke commented on #147
Ah, sounds good, I'll try that - thanks.

[2020-05-01 18:28] evan-burke commented on #147
So running `nbdev_read_nbs` locally resolves the build error - thank you -  but I don't quite like that it removes comments from the local settings.ini. I'd prefer to have things like this retained for reference:
`# From 1-7: Planning Pre-Alpha Alpha Beta Production Mature Inactive`

It's not a big deal, but it affects the developer experience a little.

[2020-05-01 18:44] sgugger commented on #147
Ah yes, saving the config would do that. I'll look at how we can avoid that.

[2020-05-01 18:44] #147 closed

[2020-05-01 19:50] evan-burke commented on #147
Thanks, I appreciate it.

[2020-05-02 19:59] tcapelle commented on #146
https://gitlab.com/thomas.capelle/nbdev_template/

[2020-05-03 13:54] #146 closed

[2020-05-03 14:22] CEM3H commented on #79
I encountered the same issue when trying to generate two (or more) .py files from single notebook - I thought it was a good idea to place function definitions and other code into different modules.
So even when I bypassed `No such file or directory` error (but its behavior is still unclear sometimes)

I noticed that modules created by `# export <module>` expression expand with each run of `nbdev_b

[2020-05-06 12:33] prajjwal1 opened #148 "way to remove the autogenerated line at the top"
Hi,

I wanted to know if there's any way to remove the first `#AUTOGENERATED! DO NOT EDIT` line at the top of all files with nbdev itself.

[2020-05-07 08:02] bepuca opened #149 "settings.ini modified in github actions"
I am working on a project using nbdev. It worked flawlessy so far but now the following problem is happening:

## Observed behavior
- When pushing a certain branch, github actions are triggered properly but breaks on `Check if all notebooks are cleaned` with the error message `git status is not clean`. Now, I added some more logging to try and see what exactly is not clean.
- It seems that the fil

[2020-05-07 12:00] sgugger commented on #149
The most recent of nbdev needs additional fields in `settings.ini`. To avoid breaking compatibility, those are added to your config file if not present with default values. The problem is that GitHub actions install the new nbdev and you have an older one, resulting in a mismatch between those files.

To fix:
1. save your old settings.ini just in case,
2. upgrade nbdev,
3. run something like `nbde

[2020-05-07 12:00] #149 closed

[2020-05-07 12:02] sgugger commented on #148
No there is no option for that. I don't understand what you are saying in "with nbdev itself" could you clarify?

[2020-05-07 12:09] prajjwal1 commented on #148
I meant to say that I can write a script that removes auto-generated comments which nbdev by default writes. But that would be a bit of trouble, so that'd why I asked if there was some provision to turn it off from config or argument in nbdev.

[2020-05-07 12:15] sgugger commented on #148
Like I said, there is none. Note that it will stop working with commands like `nbdev_update_lib`.

[2020-05-07 12:17] prajjwal1 commented on #148
I get it. I was trying to explain the motivation for why I asked as you asked to clarify. Thanks for the info.

[2020-05-07 13:20] #148 closed

[2020-05-07 13:50] bepuca commented on #149
Thank you very much, this solved the issue.

Maybe it would be helpful to add a suggestion on updating the library if this error pops up. Do you think it is a good idea? If so, I could do the PR.

[2020-05-07 13:53] sgugger commented on #149
Sure, a helpful error message can always help.

[2020-05-09 13:13] gkaissis opened #151 "show_doc fails in JupyterLab"
For some strange reason the IN_NOTEBOOK check fails on JupyterLab even though the `__class__.__name__` is identical to the one in the code. It works fine in the legacy Notebook. 🤔

[2020-05-10 13:38] sgugger commented on #151
I think this is linked to your setup as I just run `IN_NOTEBOOK` in jupyter lab and got back `True`.

[2020-05-10 14:34] gkaissis commented on #151
![Screenshot 2020-05-10 at 16 28 27](https://user-images.githubusercontent.com/48105485/81502067-fe4a5980-92db-11ea-9e29-5ad12353b375.png)

I don't get it though: `IN_NOTEBOOK` returns `True` for me as well! At the same time, `show_doc` fails with `name Markdown is not defined` which in my eyes can only come from the import up above.

[2020-05-10 16:32] sgugger commented on #151
Again, it's a problem from your setup somehow. I can execute `show_doc` without any problem on JupyterLab. Make sure your ipython is up to date.

[2020-05-10 16:46] #151 closed

[2020-05-11 03:55] gkaissis commented on #151
Thanks Sylvain, I'll check it out.

[2020-05-18 11:18] BlackHC opened #154 "show_doc and `# exports module` don't play nice"
Using nbdev  0.2.18.

I added a module to an #exports to route code somewhere else. Now `nbdev_build_docs` fails with

[code]

(which is a cell that is created by the html conversion code for the cell whose target module I've changed)

I hope this provides sufficient information to reproduce it.

(BayesianCNN is a class that I defined in that cell as example, and then I thought: maybe I should col

[2020-05-18 11:30] sgugger commented on #154
There is nothing we can do to help without:
1. seeing the whole stack trace
2. seeing the notebook that creates the problem.

We are not magicians :)

[2020-05-18 11:39] BlackHC commented on #154
[code]
That's all I got in the console.

I'll see if I can create a very basic repo to reproduce this. It seems like quite a generic bug.

PS: And wow that was quick reply & fast turn-around from your side 🔥

[2020-05-18 11:45] sgugger commented on #154
Ok, the error would indicate `BayesianCNN` has not been exported properly. Double-check it's indeed present in the modules and that the module has been installed at least with a dev install so that python can find it.

[2020-05-18 17:38] pete88b commented on #138
I think I have a fix for this: https://github.com/fastai/nbdev/pull/155

[2020-05-18 23:36] lgvaz opened #156 "hide_output in README.md"
In `index.ipynb` I marked some cells with #hide_output, but the annotation is not correctly being parsed, the current results at `README.md` is a follows:

---
[code]
Output here

---

[2020-05-19 11:37] sgugger commented on #156
I don't think `hide_output` flags are supported in the conversion to Markdown. Will have look when I have time.

[2020-05-19 11:39] sgugger commented on #138
Should be fixed by #155

[2020-05-19 11:39] #138 closed

[2020-05-19 14:37] BlackHC commented on #154
Have a look at https://github.com/BlackHC/reproduce_nbdev_154/ (and the repo) which allows on to reproduce the issue. Rename `02_core.ipynb` to `00_core.ipynb` or vice-versa

It's the order of notebook. If you try to export to a notebook that is run "later" than the current notebook, `nbdev_build_lib` will silently fail to export the cells and `nbdev_build_docs` will crash.

(However, if that note

[2020-05-19 14:41] sgugger commented on #154
Oh, that's not very nice, we should fix that. Yes the order of execution matters, especially for cells exported in other notebooks.

You can write your custom sidebar by setting the corresponding attribute to true in your settings.ini and editing the file sidebar.json in docs/ (see the fastai2 project for an example of custom sidebar.json)

[2020-05-19 16:58] pete88b commented on #156
this might be really simple - because `convert_nb` already calls `hide_cells` and `collapse_cells` via `process_cell` ...
we could
- create hide-md.tpl (as a copy of hide.tpl) - change hide-md.tpl to extend from markdown.tpl
- update jekyll.tpl and md.tpl to extend from hide-md.tpl

and get all of the hide/collapse behaviour.

If this sounds OK, I can do some proper testing and create a PR

[2020-05-19 17:05] sgugger commented on #156
Sure, you can go ahead and test if you want to tackle this one.

[2020-05-20 17:33] pete88b commented on #156
I think I have a fix https://github.com/fastai/nbdev/pull/157

[2020-05-20 20:29] sgugger commented on #156
Should be fixed by #157

[2020-05-20 20:29] #156 closed

[2020-05-20 21:22] BlackHC commented on #154
I think having order requirements is reasonable. Obviously, if it was possible to be more flexible, that would be great, but otherwise catching this case with a good error message could go 80% of the way.

My user story is that I have the main notebooks and introduce an example model (that I keep reusing) in one of the notebooks to show how to plug things together. I wanted to export that model in

[2020-05-24 22:19] mikhas opened #160 "Deal with horizontally overflowing cell output in GitHub Pages"
I found it necessary to handle overflow behaviour [not just for links](https://github.com/fastai/nbdev/blob/e9a5b1f76677d09da239be640f1cb8d179994a31/docs/css/customstyles.css#L88-L104) but for output_html in general. Perhaps the default for `customstyles.css` could be like so:

[code]

Otherwise, the static github.io page can trivially break, also wrt. the sidebar menu.

[2020-05-26 11:40] sgugger commented on #160
Doesn't sound like it would break anything to me. Would you mind suggesting a PR with that change?

[2020-05-27 11:23] sgugger opened #161 "Patches that are contextmanagers are not registered properly in _nbdev"
@pete88b since we merged the stuff with magic, I'm noticing that methods patched to a function that are also context managers are no registered as `class.method` in the _nbdev.py but just as `method`.

An example of this in fastai2 is `Learner.no_bar` in 16_callback.progress.ipynb registered as `no_bar` now. Do you have bandwidth to take this issue?

[2020-05-27 11:31] sgugger commented on #161
Oops, it's actually something that used to be the case and that you fixed, I was reading the diff wrong ;)

[2020-05-27 11:31] #161 closed

[2020-05-27 19:16] pete88b opened #163 "NoExportPreprocessor runs cells that are exported"
The docs for `NoExportPreprocessor` say "... executes cells that are not exported ..." but exported cells are run during testing.

![image](https://user-images.githubusercontent.com/11458288/83061971-c2422300-a055-11ea-8514-0db6c81b230e.png)

[code]

Should `NoExportPreprocessor` be updated to not execute exported cells? or do we just need to update the docs?

[2020-05-28 11:58] sgugger commented on #163
I didn't update the documentation, it does run the exported cells: at first I was just not executing them and importing the default_exp module, but the problem is that cell exported can be exported in other modules so I didn't manage to have everything.
Thus it's just easier to execute everything except the cell marked with some test flags.

Will update the doc.

[2020-05-28 11:59] #163 closed

[2020-05-29 13:45] pete88b commented on #154
Think I have a fix for this https://github.com/fastai/nbdev/pull/165 - as long as your converting all nbs, you can export to a notebook that is run "later"

hope this helps (o:

[2020-05-29 14:04] sgugger commented on #154
Yup, #165 should fix this.

[2020-05-29 14:04] #154 closed

[2020-05-29 14:13] BlackHC commented on #154
Thank you!

[2020-05-30 20:00] sgugger opened #167 "Comments are removed from exported cells"
@pete88b I was reading the diff wrong the other day. It looks like the recent changes with the magic command broke the following thing: when a cell as an export tag then a comment, the comment is removed. Example:
[code]
is exported in just
[code]

[2020-05-30 20:30] pete88b commented on #167
Got you. I'll change this ASAP

[2020-05-31 12:25] mpariente opened #169 "Show doc in Colab"
First, thanks for the tools !

I tried to use show_docs in Colab and this is what I got printed
`<IPython.core.display.Markdown object>`, however it works on jupyter notebook.
Is this a known issue? Is there a workaround?

[2020-05-31 12:52] sgugger commented on #169
I'm not sure it has been tested before. If they don't want to display Markdown, then it can't work, no. You can always pass `disp=False` that will return you the Markdown code, that you can then copy and paste in a cell.

Another possibility is that you have to trust the notebook before seeing those results interpreted (you have to do this in jupyter for instance).

[2020-05-31 12:55] sgugger commented on #167
Fixed by #168

[2020-05-31 12:55] #167 closed

[2020-05-31 14:14] mpariente commented on #169
Thanks for your answer, that works somehow but there is some code which is not rendered correctly (both in Colab and jupyter), linebreaks (`\n` in the output) for example.

[2020-06-02 11:59] pete88b opened #171 "Is it an issue that nbdev_build_docs does not run all imports?"
Please see https://github.com/pete88b/decision_tree/blob/master/71_tensor_patch.ipynb

I think we have a few choices
- leave as-is
- update `ExecuteShowDocPreprocessor` to run all imports
    - not complete cells, but any line starting with `from` or `import`
- add a flag to settings.ini to opt-in to new "run all imports" behavior

happy to make a PR either way

[2020-06-03 12:27] sgugger commented on #171
Are you sure you have exported the notebook before running this? Since
[code]
should have been exported, it should be in the namespace when the notebook is executed since it imports the corresponding module.

[2020-06-03 12:43] pete88b commented on #171
Congratulations on the new job (o:

for sure - this has been exported - http://localhost:8888/edit/decision_tree/decision_tree/test/tensor_patch.py
I can also see the source of `_import_show_doc_cell`
[code]
but ... importing a module doesn't seem to run its imports
![image](https://user-images.githubusercontent.com/11458288/83637665-df1fae80-a59f-11ea-85f9-2d2202a540cb.png)

I was wondering if th

[2020-06-03 13:02] sgugger commented on #171
Weird. I guess we could change to detect all imports and execute them.

[2020-06-03 17:31] pete88b commented on #171
cool - i'll pop a PR in soon

[2020-06-03 18:10] antonbabkin opened #172 "Links to source code in nbdev documentation point to wrong lines"
I've noticed it on this [documentation page](http://nbdev.fast.ai/export2html). For example, link to source for [`adapt_img_path`](http://nbdev.fast.ai/export2html/#adapt_img_path) points to [line 174](https://github.com/fastai/nbdev/tree/master/nbdev/export2html.py#L174), while the function code starts on line 182.

[2020-06-04 12:02] sgugger commented on #172
This is probably because the docs have not been update in a while. Will run the script now.

[2020-06-04 12:08] sgugger commented on #172
Yup, that fixed it.

[2020-06-04 12:08] #172 closed

[2020-06-08 11:49] sgugger commented on #171
Closed by #173

[2020-06-08 11:49] #171 closed

[2020-06-09 21:58] antonbabkin opened #175 "Fails to make_readme() from notebook that consists of single markdown cell"
I have index.ipynb notebook that only has one markdown cell in it, and when I try do `nbdev_build_docs`, I get an error below. If a second cell (markdown or code) is added, `README.md` is created successfully.

[code]

[2020-06-10 11:28] pete88b opened #176 "IN_IPYTHON can be True when running in python"
Please see https://github.com/pete88b/decision_tree/blob/master/73_in_ipython.ipynb for explanation.

I'm happy to create a PR if it's OK to change to use `get_ipython` - fell free to let me know if there's more to it.

[2020-06-11 17:55] sgugger commented on #175
Fixed by #177

[2020-06-11 17:55] #175 closed

[2020-06-11 18:25] sgugger commented on #176
We can definitely try this approach.

[2020-06-13 20:34] sgugger commented on #176
Fixed by #179

[2020-06-13 20:34] #176 closed

[2020-06-13 20:56] h17 opened #181 "Multiple flags on a code block"
Use case: currently, combining flags such as collapse and hide_input is not possible.
One could write another flag collapse_hide_input combining the two but in the long-run if number of flags increase it is idea to be able to run multiple runs.  The two possible formats that come to mind is a big more compact and easy to use
#flag1 flag2 ... flagn
or perhaps easier to parse via re
#flag1
#flag2
..

[2020-06-15 07:45] pete88b commented on #181
The latest (not yet released to PIP) version of nbdev supports quite a few combinations of flags.

See https://github.com/pete88b/decision_tree/ for examples

[This notebook](https://github.com/pete88b/decision_tree/blob/master/50_test_doc.ipynb) and its corresponding [doc page](https://pete88b.github.io/decision_tree/test_doc/) have examples of
- hiding input and collapsing output (`#hide_input`

[2020-06-23 09:28] Arcturus122 opened #183 "nbdev_template repo creation ci fail"
Hi,
when clicking on nbdev_template link from nbdev tutorial, I can Create a new repo  but then the ci pipeline start and fail automatically (without changing anything in the code)

`
Successfully installed MarkupSafe-1.1.1 Send2Trash-1.5.0 attrs-19.3.0 backcall-0.2.0 bleach-3.1.5 decorator-4.4.2 defusedxml-0.6.0 entrypoints-0.3 fastscript-0.1.4 importlib-metadata-1.6.1 ipykernel-5.3.0 ipython-7.1

[2020-06-24 05:57] pete88b commented on #183
"without changing anything in the code" is the problem (o: there are a few things you need to do before a new project will build - if you follow https://nbdev.fast.ai/tutorial/ up to "Commit to Github", you'll have a working project

[2020-06-24 07:50] Arcturus122 commented on #183
Thanks a lot, it works now, I'll close the issue.

[2020-06-24 07:50] #183 closed

[2020-07-08 02:22] davidallen353 opened #185 "Handling of __future__ imports"
I typically write python in Python3.7, but I like to use the new annotations described in PEP-563 (planned for 3.10).

To do this, I include the future import `from __future__ import annotations`. However this must be the first executable line of code.

As far as I can tell, there is not a way of telling nbdev to include an exported line before the `__all__ = []` statement. Thus, the compiled code

[2020-07-09 00:11] puzzler10 opened #186 "Exporting to multiple files from one notebook?"
Wondering if there is an easy way to write to two python files from one notebook.

I saw [here](http://nbdev.fast.ai/export/) we could do it with the #export flag, but I'm probably doing something wrong because it's not working for me.

Here is a test script, saved as `testing.ipynb` (blank lines represent cell dividers):
[code]

I get an error message from notebook2script like: `FileNotFoundError

[2020-07-10 12:35] sgugger commented on #186
`another_file` needs to have been created by a notebook before. E.g., you need a notebook numbered with a lower index that will default export to `another_file`.

[2020-07-10 12:35] #186 closed

[2020-07-10 23:42] puzzler10 commented on #186
Got it! Thanks for that.

I guess what I'm looking for is a way to develop using one Jupyter notebook, and be able to export all the various components to their own files, rather than later creating a new notebook for each class. I'm using AllenNLP now and something like that would make the workflow very easy.

This might also be handy with Pytorch, for example:

[code]

[2020-07-13 18:27] pete88b commented on #185
I can think of a couple of ways that nbdev could accommodate this;
- change export to write cells that contain `from __future__ ...` before `__all___`
    - sync would also need to be updated as cells might be written out of order
    - +ve: it would "just work" for nbdev users / -ve: quite a lot of changes to nbdev
- add a callback to [nbdev_callbacks](https://github.com/fastai/nbdev/pull/188) an

[2020-07-16 03:10] richarddwang opened #189 "Even in a new cloned fastai2, `nbdev_build_lib` creates many unexpected modifications"
# Replicate the issue
1. git clone fastai2 and nbdev and fastcore
2. editable install the latest fastai2 and nbdev and fastcore
3. `nbdev_install_git_hooks` in new cloned fastai2
4. `nbdev_build_lib`

`git status` get
[code]
even after `nbdev_clean_nbs`, it gave the same result.

# The reason ?
I tried reclone fastai2, and then `nbdev_diff_nbs` after `nbdev_install_git_hooks`.
It gave me (just par

[2020-07-20 11:04] pete88b commented on #189
This is a consequence of issue https://github.com/fastai/nbdev/issues/167 - it looks to me like;
- fastai2 master was built with an nbdev version that removed too many comments from .py files
    - i.e. before issue 167 was fixed
- building with the latest nbdev version "puts these comments back"

Please check that the only changes you see are changes to comments - if this is the case;
- *please i

[2020-07-27 14:49] cordmaur opened #190 "nbdev_build_lib: UnicodeDecodeError"
Hi,

I've just installed nbdev on Windows 10 and was following the tutorial as the first steps.
nbdev_build_lib command was raising the following error: **UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 489: character maps to <undefined>**

That was easily corrected adding the encoding to the `read_config_file()` in `imports.py`.
[code]

Don't know if that is the only place

[2020-07-27 19:44] jph00 commented on #190
Yes please do.

[2020-07-27 19:44] #190 closed

[2020-07-27 19:45] jph00 commented on #185
I think we should try the first way, since it really ought to "just work". Maybe try a PR and see how hairy it is? If it ends up making the code significantly more complex, we might want to revert and use the callback idea instead.

[2020-07-27 19:45] #185 closed

[2020-07-27 19:46] #181 closed

[2020-07-27 19:46] #169 closed

[2020-07-27 20:05] hamelsmu commented on #189
After following these steps, I now can clone all of these dependencies and get a clean commit history so I believe this issue has been resolved

[2020-07-27 20:06] #189 closed

[2020-07-27 20:06] sgugger commented on #189
Side note: it may just have needed a new release of nbdev since fastai2 uses the last release in its CI.

[2020-07-27 20:17] hamelsmu commented on #160
@mikhas can you provide a repo or example where the overflow occurs in an undesireable way?  That way will give me something I can try to fix rather than trying to fix a problem in the abstract.  Thanks for your help!

[2020-07-27 20:27] hamelsmu commented on #189
@sgugger that was exactly the fix, Jeremy fixed this during a live coding session and I just verified that it works

[2020-07-28 14:40] hamelsmu opened #191 "Create Optional Docker environment for nbdev?"
I am have been wrestling with dependency management issues with nbdev.  I tried to debug this, including pair programming for while with @jph00 and the problem remains somewhat illusive.  However, a solution that works for me is to create a Docker container and use that as my development environment.

I just wanted to ask, should I contribute this Docker environment that I create for myself back t

[2020-07-28 16:08] #160 closed

[2020-08-02 17:07] pete88b commented on #191
I think this is a great idea :-) being a docker novice: this would be great to get me started and show how it should be done

[2020-08-02 22:02] hamelsmu commented on #191
@pete88b This now exists: https://github.com/fastai/docker-containers

🎉 Closing this isssue

[2020-08-02 22:02] #191 closed

[2020-08-03 09:04] mjurkus opened #197 "Generating docs when source and notebooks are in different folders"
My project setup looks like this:

[code]

`settings.ini`
[code]

when executing `nbdev_build_docs` I keep getting the error for each notebook:

[code]

while `nbdev_build_lib` works as expected.

What is wrong with my setup?

[2020-08-03 13:40] mjurkus commented on #197
Solved by adding symlink to source folder as such `ln -s src/project project`.
Maybe there is another way to avoid this?

[2020-08-03 14:56] mjurkus opened #198 "[Question] A way to avoid creating a relative import?"
I understand that creating a relative import path is the desired behavior at the moment.

Is there a way to avoid it and leave absolute import?

[2020-08-03 18:04] hamelsmu opened #199 "nbdev_test_nbs & GPUs"
Currently `nbdev_test_nbs` [fails for lack of a GPU](https://github.com/fastai/fastai2/runs/941561829?check_suite_focus=true#step:8:37) when run against fastai2.

@jph00 [had an idea](https://discordapp.com/channels/689892369998676007/689892370002870284/739898739027869777) that would be very useful:  a `requiresgpu` flag or something like this.

[2020-08-03 18:05] hamelsmu commented on #199
ref: https://github.com/fastai/fastai2/issues/451

[2020-08-03 18:06] hamelsmu opened #200 "the /flags link is broken"
The link [https://nbdev.fast.ai/flags](https://nbdev.fast.ai/flags) is broken on this page

![image](https://user-images.githubusercontent.com/1483922/89213051-5a3e1a80-d579-11ea-80d0-1180654e34d1.png)

[2020-08-04 03:31] hamelsmu commented on #200
I would try to fix this but I still havent' been able to resolve my dependency issues with nbdev :(

[2020-08-04 22:29] pete88b commented on #200
This could be a little tricky ...
nbdev is converting flags (surrounded by back-ticks) to a link to the doc page for the flags module but ... in this case
- we just want "flags" to be formatted as code: because it's a parameter name

We've used flags as a parameter name in a few notebooks so I think we'll find a few more broken links like this.

I'm away for a couple of weeks but I'm happy to take

[2020-08-06 02:17] tyoc213 opened #201 "Some tbs I got running nbdev_conda_package"
* If I run outside of a nbdev repo I got

[code]

* If I run in a previous nbdev repo I got

[code]

* ANd on a newly created nbdev_new I got

[code]

Probably all is because I havent logged or downloaded conda things related to packages?

[2020-08-06 17:36] matthias-stifter commented on #197
Not working on windows using `mklink /D project src\project`, where syntax is mklink /D  LINK TARGET. Any idea?

[2020-08-06 22:23] jph00 commented on #201
It relies on a pip module already being available on pypi. We should document that! :)

[2020-08-06 22:23] #201 closed

[2020-08-06 22:25] jph00 commented on #199
Fixed.

[2020-08-06 22:25] #199 closed

[2020-08-06 22:26] jph00 commented on #198
Sorry I'm not sure what you're referring to. Can you please provide as much context and detail as possible, so we can replicate the issue you're having and understand the desired behaviour?

[2020-08-06 22:26] #198 closed

[2020-08-06 22:27] jph00 commented on #197
Best to use the forums to ask for help. forums.fast.ai

[2020-08-06 22:27] #197 closed

[2020-08-08 19:35] majidaldo opened #203 "publicize conda installation in docs"
https://nbdev.fast.ai/ doesn't mention that you can `conda install -c fastai nbdev`.

[2020-08-09 06:06] adamhaber opened #204 "nbdev_conda_package build fails"
I'm building a [package](https://github.com/adamhaber/pybrms) that has R as a dependency, and calls R via Rpy2; the latter can be installed with pip but R can only be install using [conda](https://anaconda.org/r/r) (AFAIK). I tried to use nbdev to build a conda package, hoping to make life easier for users (to solve the rather complicated installation otherwise). Current status:

1. `make pypi`wor

[2020-08-09 23:00] fligt opened #205 "potential kramdown vulnerability in docs/Gemfile.lock"
Github Dependabot reports a severe potential security issue for kramdown versions below 2.3.0 See: [CVE-2020-14001](https://github.com/advisories/GHSA-mqm2-cgpr-p4m6). Trying an automatic security update for my `moseley` repository created with nbdev fails with the following message: `Dependabot cannot create a pull request as one or more other dependencies require a version that is incompatible w

[2020-08-10 08:30] butchland opened #206 "nbdev_build_docs fails on colab specific vendor tags inside jupyter notebook cells"
`nbdev_build_docs` fails on notebooks run on colab due to colab adding some vendor specific entry
`application/vnd.google.colaboratory.intrinsic+json` which for some reason is added only on the `learner.summary` cells.

[code]
Currently the workaround is run `nbdev_clean_nbs --clear_all CLEAR_ALL` but this also removes the outputs which might not be what you want especially for documentation purpo

[2020-08-10 08:40] butchland commented on #206
Adding a [sample notebook](https://gist.github.com/butchland/a6a7ca38b318676fe0b249eff250ac26) that triggers this error.

[2020-08-10 16:32] lucasavila00 opened #208 "Regression - Newer version fails to run tests on Github Actions"
The problem started when this line was added: https://github.com/fastai/nbdev/commit/0ce70e6a9998603e0b35d7035e433341e755e741#r41343538

Here I just cloned the template and it shows the error:
https://github.com/lucasavila00/nbdev_bug/runs/967587111?check_suite_focus=true

[code]

This can be fixed by pinning the nbdev version on the ci file, as in this commit: https://github.com/lucasavila00/nbde

[2020-08-10 17:12] igorbrigadir commented on #208
I've also run into this error - it seems to work fine if i use `nbdev<=0.2.26` but `0.2.27` and `0.2.28` fail when running `nbdev_test_nbs` with `TypeError: '<' not supported between instances of 'int' and 'NoneType'`
 as above

[2020-08-10 18:55] johnkabler commented on #208
I also ran into this issue, and solved it the same way @lucasavila00  did.

[2020-08-10 21:58] #206 closed

[2020-08-10 21:58] jph00 commented on #208
Should be fixed now

[2020-08-10 21:58] #208 closed

[2020-08-10 21:58] jph00 commented on #205
Fixed

[2020-08-10 21:58] #205 closed

[2020-08-10 21:59] jph00 commented on #204
The problem seems to be `AssertionError: missing expected setting: version`. Do you have a version in settings.py?

[2020-08-10 22:00] jph00 commented on #203
Done, thanks.

[2020-08-10 22:00] #203 closed

[2020-08-10 22:01] jph00 commented on #200
I'll happily leave it for you @pete88b :) Let me know if you have any questions.

[2020-08-10 23:37] hamelsmu opened #209 "Run on Colab Badge"
See [this discussion](https://discordapp.com/channels/689892369998676007/689892370002870284/742526196377583696).

I will take on this issue.

[2020-08-11 07:05] adamhaber commented on #204
I have `version` in `settings.ini`, and I verified that if I run the following code:
[code]
The assertion doesn't fail. It is as if the `setup.py` that is being run by `nbdev_conda_package` doesn't find `settings.ini` (or finds one without `version`, since it doesn't fail on `config.read`) whereas the "regular" `setup.py` does find it.

I also tried `make clean` and `make dist` and then `nbdev_con

[2020-08-15 12:29] #209 closed

[2020-08-15 12:30] jph00 commented on #204
I'm not sure - might be best asking for help on the forum.

[2020-08-15 12:30] #204 closed

[2020-08-18 20:57] fernandopastawski opened #212 "local hyperlinks should work equally on notebooks and docs"
There should be a standard way to have relative internal hyperlinks which can be introduced in the notebooks and work there as well as in the generated documentation. Currently I am only aware of options that work either or.
- module name (without .ipynb and prepended number) works as a link in the generated docs.
- relative file path works as a link to other notebooks when editing notebooks.

I t

[2020-08-18 23:23] feynlee opened #213 "tst_flags not generating Jupiter notebook magic"
Adding `tst_flags` in `settings.ini` no longer provides corresponding Jupyter magic commands. This breaks all of my code cells that were marked with these test magic commands. It will throw errors like this

`UsageError: Line magic function `%nbdev_slow_test` not found.`

and the code in that cell can not be run in the notebook anymore. This is a big inconvenience since I rely on this functionalit

[2020-08-19 01:26] muellerzr opened #214 "Homepage points to //mylibname and going home doesn't actually take you home"

[2020-08-19 15:20] #214 closed

[2020-08-19 15:22] jph00 commented on #213
Please use a comment instead of the line magic for now - we haven't been able to get the magic flags working reliably across all our projects.

[2020-08-19 15:22] #213 closed

[2020-08-19 15:23] jph00 commented on #212
I'm not aware of a way to do this in notebooks, but if you come up with a mechanism that works, let us know.

[2020-08-19 15:23] #212 closed

[2020-08-20 20:22] #200 closed

[2020-08-23 15:54] omlnaut opened #219 "Default sidebar links broken"
Issue:
The links in a newly generated "default sidebar" point to <notebook_name>.html
Since "pretty links" are the default for the jekyll page generation, this does not work (404 on following the link from the index page).

Steps to reproduce:
1. Generate a new project via the template, enable github pages
2. Build lib, build docs, push to github
3. Access the generated documentation on github, tr

[2020-08-23 18:36] pete88b opened #220 "doc_link doesn't understand default export"
nbdev allows module names to be different to notebook names via %nbdev_default_export but ... `doc_link` forces them to follow a specific pattern (if you want backtick links to your modules).

Please see [this demo page](https://pete88b.github.io/nbdev_demo/text_utils.html) for a more detailed explanation.

I'd really like to write a map of module to notebook names to _nbdev.py
- so doc_link doesn

[2020-08-23 18:54] pete88b opened #221 "should nbdev convert parameter names to links in markdown?"
https://github.com/fastai/nbdev/pull/218 updated `show_doc` to not convert names in backticks to links - if the name is used as a parameter of the element passed to `show_doc`.

This means that you can backtick a module or function name in the doc string of a function and
- it will be formatted as code (not converted to a link)
- if the name is used as a parameter of the function.

I think it coul

[2020-08-24 16:46] koenvanderveen commented on #219
I think I have a similar issue. I have a repo called "integrators" and a nb that exports to basic.py. My navigation has an item called "title" and when I click it, it says: `/integratorsbasic.html' not found.

[2020-08-25 12:38] simonasantamaria commented on #219
Thanks, your suggestion "2. Turn of jekyll "pretty links" in the _config.yml." worked for me!

[2020-08-25 12:50] Brambor opened #222 "README.md rendering sum doesn't work"
I would expect to see the mathematical symbol for a sum in there somewhere.

![image](https://user-images.githubusercontent.com/13402666/91176121-1b1b6900-e6e2-11ea-8c62-9f662c75572f.png)

[2020-08-26 07:32] coffeedjimmy commented on #219
It works for me either!

please erase out if there is "pretty links" in the _config.yml file.

[2020-08-26 14:12] koenvanderveen commented on #219
that does not solve it for me. I am using the gitlab template from https://gitlab.com/thomas.capelle/nbdev_template/. By "pretty links" you mean the "permalink: pretty" line?

[2020-08-26 15:38] koenvanderveen commented on #219
If I am manually chaning that f.name to f.stem, I am still missing the slash. Any idea where that should be added?

[2020-08-26 15:41] omlnaut commented on #219
Without looking at your config I don't know what's causing this.

[2020-08-26 15:48] koenvanderveen commented on #219
My config looks like this

[code]

[2020-08-26 17:54] jph00 commented on #222
Yes GitHub doesn't support this unfortunately.

[2020-08-26 17:54] #222 closed

[2020-08-26 18:16] omlnaut commented on #219
Have you tried adding the slash to the end of your base URL? Making it "/integrators/"?

At this point I have no clue if this is the intended way to use nbdev though. GitHub issues are not really the place to discuss this, you might want to try the fast.ai forums for that (I'm on there too)

[2020-08-26 18:36] koenvanderveen commented on #219
Yeah could be a stop gap solution for now. Thanks for looking into it. Will make a post on the forum.

[2020-08-26 19:28] jph00 commented on #219
Yeah I'll take out `pretty' in the yaml. And IIRC you do want a `/` at the end of your baseurl.

[2020-08-26 19:28] #219 closed

[2020-08-27 11:31] koenvanderveen commented on #219
Thanks, the extra slash + removing the pretty line fixed it. It does result in a "//" ending of my url on the landing page

[2020-08-27 15:09] g4brielvs opened #223 "Broken doc_path on 1.0.4"
It looks like `doc_path` is not recognized on the settings.

make: *** [build] Error 1

[2020-08-31 16:26] MaxUdk commented on #223
Had the same problem. Is fixed in 1.0.5.

[2020-09-01 14:10] sakinaljana opened #227 "Export import declaration as the absolute import instead relative import"
Hello @hamelsmu @jph00 @sgugger,

I have question about exporting import declaration from notebook into python module. Is it possible to opt for absolute import to be yielded during the export instead of relative import?

For instance, i have following cell:

[code]

normally, above cell will be imported as:

[code]

Can we export it to be this one instead?

[code]

Thanks in advance!

[2020-09-02 16:12] antonbabkin opened #228 "%nbdev_collapse_... does not display "Show/Hide" button"
I may be doing something wrong, but I can't find a way to fix it, any help will be appreciated. The problem is that when I export a notebook as a HTML document, "Show/Hide" buttons are not displayed for collapsed input or output cells.

Here is an example: [notebook ](https://github.com/antonbabkin/rurec/blob/master/nbs/test_nbdev_collapse.ipynb) and [documentation](https://antonbabkin.github.io/r

[2020-09-02 17:00] antonbabkin commented on #228
As I could understand, my problem was mainly with outdated template files in the `docs/` directory. I have never used Jekyll or Ruby, and so it's hard to debug these things.

Now I tried to update by completely removing `docs/`, then copying a fresh `docs/` directory from [nbdev_template](https://github.com/fastai/nbdev_template) and running `nbdev_build_docs`. The good news is that I got collapse

[2020-09-03 11:48] 0nism opened #230 "hooks folder inside .git must be manually created before nbdev_install_git_hooks"
Platform for reproduction: Paperspace gradient - P5000 Free GPU - FastAI template

I was following the tutorial at https://nbdev.fast.ai/tutorial.html to develop my own library and when i run nbdev_install_git_hooks as stated in "Install git hooks" section i run into the following error:

[code]

After i created manually the .git/hooks folder the error went away and the command returned the follow

[2020-09-03 12:08] ankitbko opened #231 "Better support for other languages in export2html"
Let me know if this is not the correct place to discuss this feature request. I am coming from context of fastpages blog and the ask here is to have better support for multiple languages in export2html. The current implementation does convert cell containing any language into html however it has 2 limitation -

1. The syntax highlight gets messed up as it always assume its python code.
2. Using ta

[2020-09-03 16:02] pete88b commented on #228
Is it possible to revert your changes to `docs/` and then replace just `docs/css/customstyles.css` with https://github.com/fastai/nbdev/blob/master/docs/css/customstyles.css

[2020-09-03 21:51] antonbabkin commented on #228
Thanks for the pointer, @pete88b ! Looks like I forgot to commit a couple new files in `docs/`, now it all looks good.

When I started the repo, I've decided to set up everything manually instead of cloning the nbdev template, so that I could better understand how things work. The downside is that now I need to manually make all updates that happen upstream.

[2020-09-03 21:51] #228 closed

[2020-09-05 13:19] pete88b commented on #231
To help with 2) Can you 'from nbdev import *' in a databricks notebook? If you can, you might be able to use nbdev magic flags like %nbdev_hide_input.

https://github.com/fastai/nbdev/blob/master/nbs/08_flag_tests.ipynb

[2020-09-05 19:44] ankitbko commented on #231
In databricks the first line in code cell must be a magic command to change language (%scala, %R, etc). So once the language is changed it will through error as %nbdev_hide wont be recognized as a valid language statement.

[2020-09-06 12:21] jph00 commented on #231
Best place to discuss this is forums.fast.ai. If you develop a specific proposal for how to handle multi-language support, feel free to open a new issue to post it here.

[2020-09-06 12:21] #231 closed

[2020-09-06 12:24] jph00 commented on #230
That's odd - normally those are created for you. I'll add a check.

[2020-09-06 12:24] #230 closed

[2020-09-06 12:24] #223 closed

[2020-09-06 12:26] jph00 commented on #221
I think if this can be implemented without making the code too complex, it's a good idea.

[2020-09-06 12:47] jph00 opened #235 "Support for `doc_path`"

[2020-09-06 12:48] #235 closed

[2020-09-06 13:52] jph00 opened #236 "Auto-generate CHANGELOG from GitHub issues"
Use labels to create sub-headings in CHANGELOG

[2020-09-06 13:52] #236 closed

[2020-09-07 01:52] jph00 opened #237 "Automated tag/release process"

[2020-09-07 01:57] #237 closed

[2020-09-08 16:32] koenvanderveen opened #240 "Feature request: linked code-cell outputs"
Hey, it would be really cool if it would be possible to create links docs in cell outputs as well. I changed a line in my local installation that allows for this, but ran into some problem with build_lib when trying to make a PR. The line I changed was in treat_backticks():

[code]

to
[code]

[2020-09-08 17:18] koenvanderveen commented on #240
Oh, I see this approach has some bugs. I will look into them

[2020-09-08 18:12] jph00 opened #241 "remove numpy conda dep and update to fastcore 1.0.5"

[2020-09-08 18:12] #241 closed

[2020-09-08 22:00] jph00 commented on #240
Feel free to do a PR, but if you do please provide usage examples so I understand the purpose of the feature.

[2020-09-08 22:00] #240 closed

[2020-09-08 22:00] jph00 commented on #227
Please use forums.fast.ai for questions

[2020-09-08 22:00] #227 closed

[2020-09-10 10:04] koenvanderveen commented on #240
I would like to make one, but when I clone the repo and run the tests I get quite a few errors. Do you want me to ignore them? I want to make sure I am not introducing any errors with my changes, but it is kind off challenging to do so when the tests are not passing initially.

FYI my tests result in:

[code]

[2020-09-11 00:29] jph00 opened #248 "When generating docs, import cells are run even if not exported"

[2020-09-11 00:29] #248 closed

[2020-09-11 03:29] jph00 opened #249 "restrict nbconvert<6 to avoid upgrade problems"

[2020-09-11 03:30] #249 closed

[2020-09-11 10:44] jph00 commented on #220
I think I've come up with a pretty good way to create a system-wide mapping, that will also allow namespace extension modules to work. Basically, I think we might be able to leverage setuptools entry points for this functionality.

In other news, nbconvert 6 is out, and has broken pretty much everything :( I've pinned the version number for nbdev for now to work around this problem. When I do tack

[2020-09-11 16:11] pete88b commented on #220
Not great news about nbconvert 6 @jph00 )o: please feel free to at-mention me if you'd like to offload any of this work.

Makes sense to kick out magic flags and callbacks - if it turns out people miss them, I think both could be implemented without changes to nbdev (i.e. by pre-processing notebooks before nbdev processes them).

[2020-09-11 16:14] jph00 commented on #220
Thanks so much :)

[2020-09-13 17:33] jph00 commented on #220
@pete88b it'll be a while b4 I can look at this, so if you do happen to have the time and inclination to remove either or both of these, I'd be *very* grateful! (But please don't feel obliged, mind you...)

[2020-09-14 17:56] jph00 opened #252 "move conda packager to `fastrelease`"

[2020-09-14 18:28] #252 closed

[2020-09-16 11:31] aviadr1 opened #254 "nbdev does not generate sidebar items recursively"
when converting notebooks to HTML, nbdev searches recursively for notebooks in all subdirectories.
but creating the sidebar.json does not search recursively

[2020-09-16 14:09] jph00 opened #256 "add module name to top of generated doc page"

[2020-09-16 19:38] jph00 commented on #254
yeah we don't have a solution to this at the moment - best to avoid subdirs for nbs

[2020-09-16 19:38] #254 closed

[2020-09-16 19:42] jph00 opened #257 "always skip cells labeled "skip" in test"

[2020-09-17 02:47] btrspg opened #258 "Include data in the package"
Hi there,

Thanks for developing such a fantasy tool for package development. I wonder if I could include some data files in the jupyter notebook.

In general python package, I specific the `setup.py` with

[code]
.
I don't know if I need to do it manually after `nbdev_build_lib` or can do it automatically in jupyter notebook or `settings.ini`.

Looking forward to your reply.

Logan

[2020-09-17 07:59] aviadr1 commented on #254
Im working on contributing a solution, already made one pull request

On Wed, 16 Sep 2020, 22:39 Jeremy Howard, <notifications@github.com> wrote:

[2020-09-18 09:45] joedockrill opened #259 "fastprogress bar in README.md doesn't render"
hi,

i have a fastprogress bar in my index, it ends up in README.md just rendering the html like this:

<style> /* Turns off some styling */ progress { /* gets rid of default border in Firefox and Opera. */ border: none; /* Needs to be in here for Safari polyfill so background images work as expected. */ background-size: auto; } .progress-bar-interrupted, .progress-bar-interrupted::-webkit-progres

[2020-09-18 16:23] jph00 commented on #259
Yeah fastprogress/nbdev requires a proper markdown environment, which github readme doesn't provide. Happy to take a PR to fix this, if there's interest, but not likely to do it myself.

[2020-09-18 16:23] #259 closed

[2020-09-18 16:23] jph00 commented on #258
I'd suggest just editing your setup.py

[2020-09-18 16:23] #258 closed

[2020-09-18 20:00] jochym opened #260 "The gitlab docs generator makes wrong sidebar links"
Since recent updates to nbdev (1.0.18 at least, probably earlier) the generation of sidebar navigation on gitlab stopped working correctly. It generates module_name.html links but the actual files are located in module_name/index.html. If you fix the paths and switch to custom sidebar it gets fixed in generation. If you keep autogenerated json file and patch it before running jekyll build, it stil

[2020-09-19 12:27] joedockrill opened #261 "conda and callbacks both still show in the docs nav menu"
I'd submit a PR but I've got no idea why

[2020-09-22 04:54] adiell opened #262 "Support for right to left languages"
Hello,
I am trying to write a blog post in Hebrew using fastpages (opening this issue here because to my understanding it uses nbdev to do the conversion to HTML). The Hebrew is displayed correctly in jupyter using
[code]
However, in the [rendered HTML file](https://adiell.github.io/fptest/2020/09/09/Israel_excess_mortality.html) the Hebrew is aligned to the left. Also some combination of Hebrew+E

[2020-09-22 14:31] tcapelle commented on #260
I think it is also broken on github...
I updated the gitlab repo, let's try to fix this.

[2020-09-23 02:31] muellerzr opened #263 "Feature Request: Allow for the doc heading and showing the source code"
Currently we have `exports`, which will show the function above the documentation heading, which looks a bit strange in some places. I'm not 100% how we could do this (though I will try to look into it and learn as I go), but my ideal scenario is we have the heading for the nbdev docstring followed by the source code of everything *after* the doc string. Something like below:

![image](https://use

[2020-09-23 02:33] muellerzr commented on #263
Closing, need to rethink design more. May reopen if I decide on something

[2020-09-23 03:34] hamelsmu commented on #263
This is interesting.  I stared at this issue for a bit and questioned "why have source code in documentation?"   Then I kind of came around to the idea of having all source code in the documentation under a collapsible element by default.   That way, users can see source code in-situ really quickly without having to go to another web page.

@jph00 WDYT?

@muellerzr sorry for crashing the closed is

[2020-09-23 03:36] muellerzr commented on #263
@hamelsmu perfectly fine! I was trying to wrap my head around it myself and couldn't quite figure out what format would look good, and I think having it hidden is a great solution! (potentially even with an option to default to open/closed? similar to other variations of hide)

[2020-09-23 03:39] hamelsmu commented on #263
Yeah I'm thinking under a collapsable element that is hidden by default so it doesn't clutter the docs (edited my comment above to clarify my intent).

[2020-09-23 03:51] hamelsmu commented on #263
BTW I found this behavior in fastcore, I also would expect the source code to appear below the heading.

![image](https://user-images.githubusercontent.com/1483922/93964799-63e03500-fd15-11ea-9ff5-2fd7e50ad519.png)

[2020-09-23 03:56] hamelsmu commented on #263
ok just to clarify, now that I understand what is happening,  is to **always** show the source code under a collapsible heading that is closed by default, and thus do away with the need to to have both `#export` and `#exports` .... don't know if this is a good idea or not, just throwing it out there.

I personally would enjoy always having the ability to see the source code in the same context bec

[2020-09-23 13:21] jph00 commented on #263
Personally, I don't find clicking a "source" link that opens a 2nd tab, and then tiling 2 tabs side by side, significantly harder than opening a collapsible div. At least, for something like `L` or `Learner` I think I'd rather have the option to show side-by-side like that.

So my suggestion would be to make `exports` show the source in a collapsible div. How does that sound?

[2020-09-23 13:40] hamelsmu commented on #263
Sounds good to me. There are two issues discussed here:

1.  The source code appears above the heading - we are proposing that it should appear below

2. Discussion about collapsible elements (but as you suggest only do this when an exports flag is present)

@jph00 Are you also ok with 1, too?

P.S I’ll go ahead and assign this to myself

[2020-09-23 13:44] jph00 commented on #263
Yes fine with both 👍

[2020-09-23 18:15] jph00 opened #264 "Per-notebook option to disable `__all__`"

[2020-09-23 18:58] hamelsmu commented on #264
Just for my own learning, what is a situation where you might want to disable `__all__`?  I'm trying to imagine a situation where I would not want it

[2020-09-23 19:01] hamelsmu commented on #262
Can you try wrapping https://github.com/fastai/nbdev/blob/master/docs/_layouts/page.html#L52 like this

[code]

found on [stack overflow](https://stackoverflow.com/questions/47374051/how-to-write-rtl-text-in-jekyll-posts).  If you test it out and it works for you, perhaps we can discuss the best way to include the option in nbdev (likely with a `_config` parameter).

cc:/ @jph00

[2020-09-23 19:37] muellerzr commented on #264
@hamelsmu the situation came up with wanting to export `.all` and `.imports` without having a `__all__=[]` (which would happen if we loaded in a ton of imports to a notebook and hit `nbdev_build_lib` without new functions).

I'd consider [this](https://github.com/fastai/fastai/blob/master/fastai/imports.py) a good example of if someone wanted to generate this via notebook instead. (IE a utility im

[2020-09-23 19:44] hamelsmu commented on #264
Thanks @muellerzr very helpful as usual

[2020-09-24 06:13] adiell commented on #262
Thank you @hamelsmu !
Yes, this does the trick and now all the text is aligned to the right. Unfortunately this also applies to the code cells :disappointed: which I would like to remain aligned to the left.

Adiel

[2020-09-24 11:55] ibayer opened #266 "nbdev_read_nbs -> NameError: name 'IN_NOTEBOOK' is not defined"
Hi,
nbdev is awesome but I'm still running into gotchas from time to time.
This one is especially troublesome as I haven't managed to consistently reproduce it.

I have installed
[code]

`nbdev_read_nbs` fails with:

[code]

using grep I get

[code]

looking deeper:

[code]

So it seems that `IN_NOTEBOOK` is indeed defined nowhere. :/ However it worked fine before and stopped working without that

[2020-09-24 12:09] ibayer commented on #266
I just realized that I have been using a fairly early version of nbdev.
After updating to latest version `1.0.18` the problem seems to be gone. :)

[2020-09-24 12:09] #266 closed

[2020-09-25 20:44] jph00 commented on #220
@pete88b I'm going to start working on removing the magic flags now, so let me know ASAP if you've already made a start! :)

[2020-09-25 23:50] jph00 opened #269 "Remove magics"

[2020-09-25 23:50] #269 closed

[2020-09-25 23:59] jph00 commented on #220
OK magic flags removal is done now. (In master, not released)

[2020-09-28 15:56] pete88b commented on #221
Hi @jph00

I've not yet found a clean way to keep track of the last element processed by `show_doc` - was hoping to do this without changes to `show_doc` but it looks like support for function interception is not ready for prime time yet (e.g. https://github.com/dlshriver/intercepts).
How about changing `_re_backticks` to ignore anything in triple backticks?

[2020-09-28 16:12] jph00 commented on #221
You can already use `<code>` to explicitly avoid link creation - does that suffice?

[2020-09-28 16:36] pete88b commented on #221
Yes (o:

[2020-09-28 16:37] jph00 commented on #221
So, shall we close this, since we don't really have a solution?

[2020-09-28 16:49] pete88b commented on #221
Makes sense to me

[2020-09-28 16:49] #221 closed

[2020-09-29 05:37] #257 closed

[2020-09-29 20:39] jph00 opened #271 "Make CLI faster by removing unneeded imports and moving CLI commands to source modules"

[2020-09-29 20:40] #271 closed

[2020-10-07 07:41] tcapelle opened #275 "build_docs try to parse the .ipynb_checkpoints files."
I get FileNotFoundError when running `nbdev_build_docs` because it is trying to convert the files on the folder .ipynb_checkpoints
[code]
I will try to propose a fix if this is an issue.

[2020-10-07 07:58] tcapelle commented on #275
The problem appears to be this line:
[code]
`glob` is very ambitious, an will iterate over the tree.

[2020-10-07 11:10] tcapelle commented on #275
I made a PR to fix this.

[2020-10-07 15:10] josiahlaivins opened #277 "`<details>` Internal Markdown parsing support"
When making python docs, It would be nice to be able to have dropdowns. I found this can be done via the html `<details>` tag. However, it seems that nbdev does not support/understand the details tag, and so all the internal markdown will get ignored.

In a jupyter notebook I have 2 cells:

[code]

[code]

[code]

The results from each is:
![image](https://user-images.githubusercontent.com/5560092

[2020-10-07 16:10] jph00 commented on #260
I believe you just need to disable permalink: pretty in jekyll.

[2020-10-07 16:10] #260 closed

[2020-10-07 21:06] omertalmi5 opened #278 "URL link for documentation for torch_core library from the doc() method gives incorrect url"
**Describe the bug**
When execute the doc() method on term under the torch_core library in the is incorrect.
The url gives back 404 error code.

**To Reproduce**
1. Execute doc() on any term under torch core in the documentation
2. Enter to the "Show in docs" link

**Expected behavior**
The URL link presents for the docs is for :
https://docs.fast.ai/torch.core#tensor

instead of the correct URL l

[2020-10-08 13:09] omertalmi5 commented on #278
Moved to fastai repository

[2020-10-08 13:09] #278 closed

[2020-10-09 12:05] KoffeeKatX opened #279 "Error using nbdev_build_lib in 1.1.0"
Hi,

I got the error below using version 1.1.0 (on MacOS Catalina, installed via pip, first time using nbdev). I started a new project with "nbdev_new 'project name'", changed the required fields in the settings.ini and then ran 'nbdev_build_lib'. After unsuccessfully trying to remedy the problem myself, I executed the same steps with version 1.0.18, which worked right away.

`Traceback (most rece

[2020-10-11 16:41] jph00 opened #280 "Move `Config` to fastcore"

[2020-10-11 16:41] #280 closed

[2020-10-11 16:43] jph00 opened #281 "update fastcore requirement"

[2020-10-11 16:43] #281 closed

[2020-10-11 16:44] jph00 commented on #279
I just tried those steps with 1.1.2 and it worked - could you please try the same, and if it doesn't work, reopen this issue and show me exactly the steps you ran and what happened at each step?

[2020-10-11 16:52] #279 closed

[2020-10-15 14:09] kessido opened #283 "https://nbdev.fast.ai/conda.html 404 error"

[2020-10-19 21:53] muellerzr opened #285 "[enhancement] Support Arbitrary Static Site Generators"
# Proposed feature:

VuePress uses Markdown rather than HTML's when building documentation. Currently we have a working little hack inside of `nbdev_build_docs` to get everything working:
[code]
We add in the `cls` and `template_file` and simply rename our `html` to `md` and this seems to do the trick, though further integration would be better. An example running website can be found [here](https

[2020-10-20 06:30] hamelsmu commented on #285
If the target is vuepress it might be good to specify if you need any special front matter or any other kind of markup in addition to the markdown to make sure things work per normal, such as all the extra nbdev features (example showing/hiding cells) ?

[2020-10-20 11:17] muellerzr commented on #285
@hamelsmu I was going to open another issue about that actually, so may just be better to have this as an encompassing "vuepress" issue instead. The other issue we're facing with right now is linking up source code to the documentation by mention (such as say having `DataLoader` link to it's source code)

[2020-10-20 11:23] muellerzr commented on #285
@hamelsmu with the hack to `nbdev_build_docs` it winds up working similar (in regards to the tags, not necessarily options like collapse and hide, we haven't tested that)

[2020-10-20 17:08] borisdayma commented on #285
Just a comment that I believe vuepress targets more documentation sites, but it's definitely great.
There's also nuxt/content which is similar (accepts markdown) but a bit more flexible.

[2020-10-21 19:44] massgh commented on #283
This error is happened to my documentation page [pivotpy](https://massgh.github.io/pivotpy/) as well. No file other than index.html is shown.

[2020-10-21 21:48] erictleung commented on #283
Looks like it was removed in this commit https://github.com/fastai/nbdev/commit/4cab604cc8edc5fb927d9da830a2c2dd56d54bfe#diff-28b66cf89ad7f55e4e99abdf9716084ab0f20e9ed72a732b7cfc3d35b9e6d713

[2020-10-21 23:59] massgh commented on #283
I found the issue by locally serving docs. Instead of keeping html file itself, it creates a folder with same name and put index file in it with same content. I can see docs if `.html` is clipped from address, but cross-referencing is still issue. It seems a recent update made this kind of folder change while `nbdev`  did not managed to change addresses yet.

[2020-10-24 07:29] bguan opened #286 "nbdev github CI Action fails with missing path attribute"
I have been test driving nbdev on a personal project but I have not been able to figure out why github CI action is failing on the ***Read all notebooks*** step launching ```nbdev_read_nbs``` which passes on my local dev box.

You can see the error on this [run](https://github.com/bguan/mcbbox/runs/1301512611?check_suite_focus=true).

The stack trace:
[code]

This is weird. If my understanding is

[2020-10-25 04:30] bguan commented on #286
Adding the ```requirements = nbdev>=1.1.4``` to ***settings.ini*** fixed my issue. I think somehow github CI just pulled in older version of nbdev.

[2020-10-25 04:30] #286 closed

[2020-10-25 12:29] iyaja commented on #285
@muellerzr @hamelsmu Vuepress supports a number of markdown extensions that allow you to add, for example, tip/warning/hide blocks or line highlighting in code blocks. They have more details on their [docs page](https://vuepress.vuejs.org/guide/markdown.html). However, I believe these extensioins may not work with every Vuepress theme. One useful feature might be auto-generated vuepress-style conf

[2020-10-25 13:40] iyaja opened #287 "Colons break badges, title, and quote in generated documentation"
Adding colons (`:`) in the first H1 tag of a source notebook seems to cause the title, badges, and quote to not render in the built documentation.

For an example of this, see this [notebook](https://github.com/AIDA-UIUC/ai_workshops_old/blob/master/00_introduction.ipynb) and it's corresponding [webpage](https://aida-uiuc.github.io/ai_workshops/introduction.html).

[2020-10-25 14:38] hamelsmu commented on #285
I’m not sure that “bring your own static site generator” is a good idea,
only because that would make it much harder and raise the difficulty of
using nbdev to build docs significantly.

I believe that we have to provide the integrations for this reason.  Using
and configuring a static site generator is not trivial, especially when it
comes to converting markdown to conform to all the little featu

[2020-10-25 20:35] hamelsmu commented on #287
If you surround it with double quotes it won't break

[2020-10-27 08:58] sebarthel89 opened #288 "[enhancement] Make default_exp optional"
Hey there,

first of all, thank you very much for making this project public. It really helps to empower people that love to work with notebooks.

For me, it would be very helpful if default_exp is not mandatory.

Instead, I would love to fall back to the notebook filename if no export name is given. Before I create a PR, I want to get your opinion about this idea.

Thanks in advance!

[2020-10-29 06:26] DavidykZhao commented on #283
I encountered the same issue, Under docs/sidebar.json, all of the paths are automatically appended `.html` at the end, which causes the problem.

[2020-10-29 20:30] AllenDowney opened #289 "Missing import statement in the tutorial?"
Hi.  I am following the tutorial using a copy of the template repository and ran into a problem at this step:

https://nbdev.fast.ai/tutorial.html#Add-in-notebook-export-cell

When I run

[code]

I get

[code]

I assume I was supposed to import it, but I don't see instructions for doing that.

I guessed it might be

[code]

But that gets me

[code]

Thanks for any help you can provide.

[2020-10-29 20:46] AllenDowney opened #290 "I've lost the thread"
This is feedback about the documentation -- my goal is to let you know what roadblocks I'm hitting as a new user.  I hope this is helpful.

I followed the tutorial and tested everything using a minimal repo based on the template.  So far so good.  Now I am ready to add more material to the repo and try out additional features.  So that's what I'm looking for next.

But the next item after the tuto

[2020-10-29 21:17] hamelsmu commented on #290
@jph00 I'm willing to work on this together.  This seems like useful feedback.

Thanks @AllenDowney I'm forever a fan of your books and your teaching, so happy to see you here!

[2020-10-29 21:29] hamelsmu commented on #290
Talked to @jph00 ... I'm working on this now ... will build a small nbdev project with all the things you might want to do, and document all my steps.

Afterwards, I'll update the nbdev docs appropriately.

[2020-10-29 21:33] jph00 commented on #290
@AllenDowney thrilled to see you here - I'm a fan too! To clarify, this is the tutorial you went thru? https://nbdev.fast.ai/tutorial . Did you watch the video there?

What "real work" would you like to do next?

@hamelsmu is planning to show you an example by converting a bit of your ThinkPython2 repo to nbdev, and showing the steps. I hope that will help. `nbdev` is reasonably mature and quite w

[2020-10-29 21:38] jph00 commented on #289
Thanks @AllenDowney we'll add that to the tutorial.

A great way (IMO) to learn about using nbdev in practice is to look at notebooks for projects that use it. One really simple project is `fastwebhook`, which does demonstrate all the key features - here's the notebook for that:

https://github.com/fastai/fastwebhook/blob/master/00_core.ipynb

You'll see the last cell is this:

[code]

Alternative

[2020-10-29 21:38] #289 closed

[2020-10-29 21:44] AllenDowney commented on #290
Hi All, and thank you for the quick replies!

@jph00 , yes, that's the tutorial I followed, but I did not watch the video.  I'll do that.

@hamelsmu , thanks for using ThinkPython as an example, that sounds like it will be a huge help.

And I will check out `fastdoc`, because I think that's probably the next step for me.

[2020-10-29 22:02] AllenDowney commented on #289
My version of `00_core.ipynb` does not have that cell.  I got it by copying the template on GitHub.

[2020-10-29 22:09] jph00 commented on #289
That's a good point - I was referring to not to the template, but to:

https://github.com/fastai/fastwebhook/blob/master/00_core.ipynb

Cool idea to add the cell to the template though - will do that!

[2020-10-30 14:46] hamelsmu commented on #290
@AllenDowney if you need immediate help getting started or are blocked, I'm willing to help you in the meantime or to even pair with you to get you unstuck.  I'm hoping to get a minimal "quickstart" guide for you soon though!

[2020-10-30 14:51] AllenDowney commented on #290
@hamelsmu Thank you, that is a very kind offer.  I have switched to another project for now, so it is not urgent.  When I switch back, I will check with you, and I would be happy to test anything you've written.

[2020-10-31 06:51] seeM opened #291 "Tutorial does not link to nbs folder"
https://github.com/fastai/nbdev/blob/720a79d061ef649cbcefcfbe024988064c9d2e1e/nbs/tutorial.ipynb#L756

Should link to https://github.com/fastai/nbdev/tree/master/nbs

[2020-10-31 17:18] hamelsmu opened #293 "Render docs for methods by default"
We should render docs for methods by default rather than requiring showdoc(...) on each method.   Of course its better if people use showdoc(method) as that promotes better docs, but perhaps for people starting out it can help with initial setup?

[2020-10-31 17:21] hamelsmu opened #294 "A way to check for broken links"
There has to be a way to follow all the links in the docs and report any broken links.  People are constantly complaining about some link being broken in the docs, this makes me think we need CI for this, and I think this is possible.

[2020-10-31 17:22] hamelsmu commented on #263
This issue was closed via #265

[2020-10-31 17:22] #263 closed

[2020-10-31 17:32] hamelsmu opened #295 "Fix Search"
The google based search is hard to use.  see [this list of resources](https://gohugo.io/tools/search/):

[2020-10-31 17:41] hamelsmu opened #296 "A page that shows all the flags"
It would be useful to have a single page or cheatsheet that shows all the magic flags like `#hide`, `#hide_input`, `#slow`, etc.

[2020-10-31 17:43] hamelsmu opened #297 "More Automated setup from template"
Right now you have to edit settings.ini yourself.  Let's make it so that a pull request is automatically opened for you that is pulled from the information from GitHub that will edit settings.ini for you to get you started.

[2020-10-31 18:51] krishnakalyan3 commented on #294
What do you think of this

`https://github.com/bartdag/pylinkvalidator`

[2020-10-31 19:01] hamelsmu commented on #294
Thanks Krishna this seems useful

On Sat, Oct 31, 2020 at 11:51 AM Krishna Kalyan <notifications@github.com>
wrote:

[2020-10-31 20:10] willingc commented on #290
@hamelsmu @jph00 @AllenDowney :wave:

Going through the install in the README (which I believe is the same as the rendered doc). Saw some things that tripped me up while just getting started:

1. Missed the "Required" comment at the top of `settings.ini` and ran into a few parameter not found errors
2. Missed the "branch" parameter completely. I may have deleted accidentally when editing the file

[2020-10-31 20:40] jph00 commented on #290
Thanks a lot Carol - we'll fix those up. There's no formatting reason we can't split things up in the README.

Please do let us know if anything else is less than clear.

BTW, the "branch" setting is indeed there in the template, so I guess somehow it got deleted during editing:
https://github.com/fastai/nbdev_template/blob/master/settings.ini

[2020-10-31 23:24] hamelsmu commented on #290
@willingc thanks for trying out nbdev, I am beyond excited that people like yourself are trying it out!  I am still working on my minimal example (#298 ), which has been more work than I anticipated (writing is hard, especially when you want it to be good  and short!).

P.S. The offer I extended to @AllenDowney applies to you as well if you need to get unblocked while getting started on something.

[2020-11-01 18:46] ZivotJeKrasny opened #299 "NBDev[1.1.3] `nbdev_build_docs` not working with latest fastcore[1.3.1] 'list' object has no attribute 'map_filter'"
Latest/current/1.1.3 version of NBDev does not work with latest/current/1.3.1 fastcore while running `nbdev_build_docs` command.
Error with message `'list' object has no attribute 'map_filter'` is shown and no `html` file is created.

It seems that `fastcore` is not compatible with NBDev after this commit  https://github.com/fastai/fastcore/commit/e72fe807d0822206e947be1fb015e7691e2a63c3 where fun

[2020-11-01 21:56] #291 closed

[2020-11-01 22:04] hamelsmu commented on #299
This is also breaking in CI: https://github.com/fastai/nbdev/pull/300/checks?check_run_id=1339437962#step:4:70

cc: @jph00

I'm investigating now.

[2020-11-01 22:20] hamelsmu commented on #299
related issue https://github.com/fastai/fastcore/issues/164

Found the answer in the release notes just need to change this to

Working on it now

[2020-11-01 22:23] hamelsmu commented on #299
Looks like @jph00 beat me to it this is fixed by https://github.com/fastai/nbdev/commit/fd4cfac2a85875e9b6f9dad3012b34fc9e8a6a67

[2020-11-01 22:23] #299 closed

[2020-11-01 22:31] hamelsmu commented on #275
Looks like this was fixed in https://github.com/fastai/nbdev/pull/273

[2020-11-01 22:31] #275 closed

[2020-11-01 22:31] hamelsmu commented on #261
This is fixed in #300

[2020-11-01 22:31] #261 closed

[2020-11-01 22:32] #283 closed

[2020-11-01 22:34] hamelsmu commented on #287
I have this warning in fastpages for this reason as well

![image](https://user-images.githubusercontent.com/1483922/97817122-47f27c00-1c4f-11eb-8336-cf2f1ddcd78b.png)

Given that we are updating to v2, not sure if we want to find a way to do something clever to fix this on behalf of users or to add it to the docs.  @jph00 WDYT?

[2020-11-01 22:40] hamelsmu commented on #277
Within a HTML block you can only put HTML due to the limitations of Jekyll.  There is no great way around this, unfortunately.  AFAIK.  Please feel free to let me know if I'm wrong or if there is something I'm overlooking.

[2020-11-01 22:40] #277 closed

[2020-11-01 22:41] hamelsmu commented on #262
@jph00 should we put this on the v2 roadmap?

[2020-11-01 22:42] hamelsmu commented on #264
I'll add this to v2 roadmap

[2020-11-01 22:45] hamelsmu commented on #288
@sebarthel89 as @tcapelle mentioned, There are situations where you might not want to export at all, for example when you are making a page for documentation purposes only, like a tutorial.  (In fact I have done this recently).

I'll go ahead and close this.

[2020-11-01 22:45] #288 closed

[2020-11-01 22:47] hamelsmu commented on #285
I discussed this with @jph00 and he mentioned that he wanted to build this in a modular way to support arbitrary static site generators (SSG's) with paved path towards Hugo.   I would personally like to also build a paved path to VuePress, esp for fastpages, so I can help be the guinea pig for this kind of thing.

I'll add this to the v2 list

[2020-11-01 22:48] hamelsmu commented on #285
P.S. I renamed this issue to

To make it more general

[2020-11-01 22:50] #220 closed

[2020-11-01 22:53] hamelsmu commented on #287
More background:

There is not a great solution for this.  In fastpages, I tried to defensively put quotes around the title front matter for people, but then that broke when the title itself already had quotes.  However, I'm sure something clever can be done to form valid YAML and check it first (I just didn't want to because Liquid is a pain as a programming language).

[2020-11-02 00:08] jph00 commented on #262
@hamelsmu yes!

[2020-11-02 00:10] jph00 commented on #287
Does backslash-escaping in the frontmatter fix it? If so, nbdev should be that automatically. Or perhaps we should also surround in quotes, and backslash-escape any embedded quotes?

[2020-11-02 03:23] #290 closed

[2020-11-02 03:49] hamelsmu opened #301 "Improve Minimal Example Tutorial"
- one thing to mention might be that you don't need to add "show_doc" for normal functions (non-methods), since it is auto-generated where you define the function
- and maybe explain why we don't auto-generate for methods, but instead want the dev to add prose/examples etc

ref #290

[2020-11-02 04:24] #301 closed

[2020-11-02 04:29] hamelsmu commented on #287
No I believe not (unless I'm doing it wrong).  I was doing more research and found this [SO Thread](https://stackoverflow.com/questions/11301650/how-to-escape-indicator-characters-i-e-or-in-yaml) and looks like we can just string replace colons with `&#58;` I believe, so I think this could be a good solution to this problem!

[2020-11-02 04:39] hamelsmu commented on #290
@AllenDowney @willingc We have authored [a new page in the docs - A minimal example with nbdev](https://nbdev.fast.ai/example.html) that we think helps readers solidify understanding of `nbdev`.

**As a bonus we use a bit of @AllenDowney's code, specifically `Cards.py` from ThinkPython2 for illustrative purposes.**   Concretely, we show you how you might write the code, docs, and tests associated

[2020-11-02 08:05] Journerist commented on #288
what do you think about other exporting strategies? like having a set of export strategies like this:

- explicit export (current, default)
- default_all_by_name -> takes the filename and exports it to the configured location
- there can be more

[2020-11-02 08:06] sebarthel89 commented on #288
what do you think about other exporting strategies? like having a set of export strategies like this:
* explicit_export (current, default)
* default_all_by_name -> takes the filename and exports it to the configured location
* there can be more

[2020-11-02 08:08] sebarthel89 commented on #288
seriously, the requirement for me would be avoiding the need to put it all the time on the top. Let's brainstorm together @tcapelle :). I would appreciate getting some more ideas and insights from your side than just a "NO" 😂

[2020-11-02 16:49] willingc commented on #290
I will go through in the next few days. I'll open a PR for any things that I see.

[2020-11-03 08:27] sizhky commented on #128
I got the same error for a simple notebook with only two cells. This notebook was present at `nbs/pdf_class.ipynb`

![image](https://user-images.githubusercontent.com/3656100/97962960-35f21400-1ddc-11eb-9bc8-a8a37980546b.png)

Following was the output and trace when I ran below code outside `nbs` folder
[code]

[code]

[2020-11-03 08:30] sizhky commented on #128
@DmitriyG228 I got the same error. You will have to create a #default_exp variable if the notebook contains an #export cell

[2020-11-04 01:36] hamelsmu commented on #290
@willingc we also just [improved the README](https://github.com/fastai/nbdev/blob/master/README.md) after thinking deeply about your experience so that people are directed to the right tutorials and examples.

Thanks again to both of you @AllenDowney @willingc for taking the time to give us feedback, really looking forward to what you find as you take another look!

[2020-11-05 14:25] AlexJoz opened #305 "Upgrade to nbconvert >= 6"
Hello!

We used to deploy our jupyter notebook based apps with __Voila__ (https://github.com/voila-dashboards/voila).

Not so long ago, we started utilising __nbdev__ and already like it a lot, but having 'nbdev' and 'voila' deps together fail the dependency tree resolution of the project.
Actually, __viola__ requires `nbconvert>=6.0.0,<7`, while __nbdev__ - `nbconvert<6`

Do you know what's holdi

[2020-11-05 15:40] agoose77 commented on #305
It is likely the big 6->7 template system overhaul that is preventing an upgrade. `nbdev` doesn't seem to do much customisation of the `nbconvert` machinery, so it's likely just the templates that need to be modified to inherit from the new templates (although the old templates are still there for compatibility IIRC), and possibly the `nbdev` code that specifies where `nbconvert` looks for templat

[2020-11-05 16:06] hamelsmu commented on #305
This will be fixed with [nbconvert v2](https://github.com/fastai/nbdev/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Version+2+of+Nbdev%22) we are already aware of this change, and @jph00 is using the latest nbconvert version in [the development branch](https://github.com/fastai/nbdev/tree/nbconvert6).  Just ask for a bit of patience as we are working on it right now!

[2020-11-06 10:05] diegoroversi opened #306 "github (or gitlab) account required"
From tutorial looks like nbdev require a github (or gitlab) account. It's quite disappointing to have to use a cloud service to use nbdev... It's possibile to use nbdev with all the required software on my own pc?

Thanks.

[2020-11-06 19:45] jph00 opened #307 "`nbdev_new` now works on an existing cloned repo, instead of creating a new repo"

[2020-11-07 01:10] jph00 opened #308 "install git hooks in `nbdev_new`"

[2020-11-07 01:10] #308 closed

[2020-11-07 04:51] hamelsmu opened #309 "Copy new files only if they don't exist for nbdev_new"

[2020-11-07 04:57] #309 closed

[2020-11-07 16:02] koaning opened #311 "nbdev_build_docs breaks on card example"
I'm trying to get `nbdev` to work locally (the jupyter keynote got me curious!) but it seems to hiccup.

While following the tutorials I get a strange error when I try to generate the docs. This error appears both when I start from scratch when I use [this tutorial](https://nbdev.fast.ai/tutorial.html#Edit-settings.ini) but it also appears when I clone [the repository with the card example](https:

[2020-11-08 04:37] hamelsmu commented on #311
@koaning the repo with the card of example is [fastai/deck_of_cards](https://github.com/fastai/deck_of_cards) not `hamelsmu/deck_of_cards`

[2020-11-08 04:45] hamelsmu commented on #311
I'm not able to reproduce this error.  If you use the right repo as noted above I do not get this error.  (P.S. I checked the docs for links to my fork, but I didn't see any so not sure how you ended up on  my fork).

[code]

If you can share a reproducible error from a public repo that I can use to reproduce this error feel free to open a new issue.  Thanks for your help.

[2020-11-08 04:45] #311 closed

[2020-11-08 04:52] hamelsmu commented on #306
There is no requirement to use github or gitlab.  You can use [nbdev_new](https://nbdev.fast.ai/cli.html#nbdev_new) to setup a new nbdev project without ever logging into GitHub.

Hosting docs and using CI are completely optional, and you can choose to ignore GitHub / GitLab for that.

[2020-11-08 04:52] #306 closed

[2020-11-08 05:47] cccntu opened #312 "How to convert notebook to script without other nbdev features?"
I watched the I Like Notebooks video the other day, and saw that you can convert notebook to script with `notebook2script()`.

But I am getting a lot of errors that I don't understand.
First I need to add a settings.ini (I copied the template and did not configure it), then I need to use `#export`, yet it still gives me errors
[code]
I just want to simply convert a Run-All notebook to a script. I

[2020-11-08 14:22] cccntu commented on #312
I found `%%writefile` that works, except it needs to be used for every cell.

[2020-11-08 20:45] jph00 commented on #311
@koaning perhaps try running `nbdev_build_lib` first?

[2020-11-08 20:47] jph00 commented on #311
Oh it looks like you have a cell attachment (e.g from pasting an image). Not sure we've got that fully supported automatically, but it's on our todo list.

[2020-11-08 20:52] jph00 commented on #311
Yup turns out @hamelsmu's fork had an attachment in it (he's removed it now). The fastai repo doesn't have that. So it should work fine with the fastai repo. Feel free to reopen this issue if now.

[2020-11-09 00:34] hamelsmu commented on #312
@cccntu may I suggest a better starting point would be

1. Read the tutorial: https://nbdev.fast.ai/tutorial.html
2. Step through the minimal example: https://nbdev.fast.ai/example.html

[2020-11-10 04:45] hamelsmu commented on #312
Hi @cccntu I'm going to close this, but another suggestion is to checkout the `nbdev_build_lib` CLI command which is mention in the tutorial linked above.

[2020-11-10 04:45] #312 closed

[2020-11-10 08:39] hamelsmu commented on #294
this has been implemented in [fastai/fastlinkcheck](https://github.com/fastai/fastlinkcheck)

[2020-11-10 08:39] #294 closed

[2020-11-10 17:38] jph00 opened #314 "Use param comments in `show_doc`"
As shown in:
https://twitter.com/jeremyphoward/status/1325922248968921088

[2020-11-10 18:14] jph00 opened #315 "cython support"
nbdev should export `%%cython` cells and allow them to be used in exported modules.

Possibly supporting `%%cython_pyximport` first may be easier.

[2020-11-10 19:39] thakkarparth007 opened #316 "Windows support"
I was trying nbdev today (and it seems like a great idea!). It works as expected, except for some of the make commands. E.g., I was running this from powershell (could've avoided the issue by running it from WSL), and running `make docs_serve` failed randomly because `make docs` calls `touch docs`, and `touch` isn't available on powershell. Similarly, `make clean` uses `rm -rf dist` which doesn't

[2020-11-10 21:01] jph00 opened #317 "Custom module `__dir__` using `__all__`"
In modules that have `__all__`, should we use it for `__dir__`?

[2020-11-10 21:03] jph00 opened #318 "Add markdown and param docs to docstring"
e.g. `add_docs(param_docs={...}, xtra_docstring="""...""")`

[2020-11-16 16:14] goopyflux opened #319 "Missing Details from Tutorial - Failing CI on GitHub"
Hello,

**Issue:**

CI on GitHub fails with a red 'X' when running the *Commit to GitHub* step of the tutorial.

**Details:**

Everything worked as described in the tutorial up to and including `git push`. However, on GitHub, the `build` failed on the *Install the library* step with the  message - `Obtaining file:///home/runner/work/nbdev_tutorial/nbdev_tutorial`. Here `nbdev_tutorial` is the name

[2020-11-17 16:30] #319 closed

[2020-11-19 00:59] hamelsmu commented on #290
@AllenDowney @willingc just a friendly bump / reminder that would really love your feedback once you have a chance to go through the example.

@AllenDowney would be especially interested if you think another example from one of your Think* books might be helpful or if this one is appropriate.  Thanks and appreciate everyone's involvement!  Really excited to have ya'll try the end-to-end walkthroug

[2020-11-20 22:54] Isaac-Flath opened #321 "NBdev Jupyter Lab Extension"
This is a feature idea/request.

**What**:  Jupyter Lab NBDev extension

**Functionality**:  Ability to do run common NBDEV functionality within NBdev without needing terminal.  Examples include creating a new git repo project, Adding git hooks, Building Docs, building the library, cleaning notebooks, etc.

**Other Thoughts**:  If it was designed with the git extension taken into consideration tha

[2020-11-21 23:09] ojscholten opened #322 "Inconsistent custom sidebar behaviour"
I've encountered an inconsistency in the sidebar behaviour when using the `custom_sidebar = True` in the `ini` file and wanted to document my findings to help future developers and hopefully get some light on the issue.

***Issue***: Malformed `sidebar.json` files work, but cause the menu bar to always collapse instead of remaining open with the current page highlighted.

***Examples***: [Working

[2020-11-24 12:06] bblais opened #324 "functions in module but not in docs"
I am new to nbdev, and this question may be more about proper programming practices, but I'll often have functions that are used in a library but really aren't meant to be documented as part of the library.  They support the functions in the library (e.g. wrapping arrays, redirecting stdout, etc...) In nbdev `#hide` removes them from the library, so they can't be used, and `#export` includes them

[2020-11-24 20:46] hamelsmu commented on #324
`#hide` removes them from the docs, not the library
`#export` adds them to the library, and will also appear in the docs by default unless you also specify `#hide`

Take the tutorial and walk through the minimal example, and I think it will clarify many of your questions.

[2020-11-24 23:06] bblais commented on #324
Yes, that's what I thought...but here's an example.  In the package here [https://github.com/bblais/pyndamics3](https://github.com/bblais/pyndamics3), in the file `00_core.ipynb` the third cell which includes the class `InterpFunction` if I change `#export` to `#hide`, remake the lib and docs, the class definition disappears from `core.py` in the package.  Gone from the library, and the docs.   I

[2020-11-25 02:00] hamelsmu commented on #324
If you don't have `#export` then the code will not be exported to the library.  If you want to export the code to the library, but also hide it from the docsyou need:

[code]

For example, in [This notebook](https://github.com/fastai/fastcore/blob/master/nbs/01_basics.ipynb)
![image](https://user-images.githubusercontent.com/1483922/100173203-e5238780-2e7e-11eb-88da-87a202862751.png)

You can also

[2020-11-25 02:03] hamelsmu commented on #324
I'll go ahead and close this, lmk if this is not resolved.

[2020-11-25 02:03] #324 closed

[2020-11-25 02:56] bblais commented on #324
thanks!  that's perfect!

[2020-11-25 23:40] jnareb opened #385 "The only supported license is apache2"
In my opinion at least all licenses available in GitHub license chooser should be available:

- Apache License 2.0 (the only one available, as `apache2`)
- GNU General Public License v2.0
- GNU Lesser General Public License v2.1
- GNU General Public License v3.0
- GNU Affero General Public License v3.0
- MIT License
- BSD 2-Clause "Simplified" License
- BSD 3-Clause "New" or "Revised" License
- ..

[2020-11-28 23:49] jnareb opened #326 "Creating README.md via `nbdev_build_docs` fails with "AttributeError: 'MarkdownExporter' object has no attribute 'template_path'""
After updating all packages in my programming environment (Anaconda), the `nbdev_build_docs` command (issued from terminal launched from Jupyter) stopped working. Among others the creating `README.md` from `index.ipynb` fails with the following error:

[code]

I have installed the following versions of libraries (`conda list`)

- jupyter_core              4.7.0
- nbclient                  0.5.1
-

[2020-11-29 00:05] jnareb opened #327 "nbdev_build_docs fails with NotImplementedError raised in asyncio"
After upgrading all Python modules with `conda update --all`, the `nbdev_build_docs` now fails with the following error:

[code]

I use Python 3.8.5 (from Anaconda3), Jupyter Notebook 6.1.4, JupyterLab 2.2.6

The following version of libraries are currently installed:

- nbclient 0.5.1
- jupyter_client 6.1.7
- pyzmq 19.0.2
- nbdev 1.1.5

My operating system is Windows 10 Home 64-bit, version 1909

[2020-11-29 18:14] thakkarparth007 opened #328 "nbdev_update_lib behaving incorrectly for #nbdev_comment _all_ = ['blah']"
I accidentally came across this bug.
I have a cell with `_all_ = ['blah']` in notebookA. In the corresponding python file, this gets translated as `#nbdev_comment _all_ = ['blah']`.

Now, I ran `nbdev_update_lib` after making a tiny change in one of my python files to fix the corresponding notebook. Turns out, the `#nbdev_comment _all_ = ['blah']` bit gets copied to notebookA and screws up my impo

[2020-12-01 12:35] jnareb commented on #327
It turns out that the same problem exists in `nbdev_test_nb` and was caused, from what I understand, by the **change in Python 3.8**, where the default event loop on **Windows** changed to `proactor` (and not "selector" event loop).

See for example issue mkdocs/mkdocs#1885 fixed in mkdocs/mkdocs#1922

It looks like for Windows one needs to add the following line

[code]

[2020-12-03 16:09] ydennisy opened #330 "Theme support planned?"
Hi,

Seems an interesting concept and I am playing around with a small project - but is there any planned support for themes?

The current docs are not great when looking at [params](https://nbdev.fast.ai/export2html.html#nbdev_build_docs).

[2020-12-04 21:14] tburnett commented on #326
I find this when I run nbdev_build_docs as a command or by nbdev.export2html.nbdev_build_docs().
I see that there is an apparent typo in nbdev_exporter,
 `exporter.template_path.append(str(Path(__file__).parent/'templates'))`
where that should be template_paths.

However, that has been forever, and it only just showed up for me. Fixing it then creates an error
"TemplateNotFound: markdown.tpl"

I d

[2020-12-04 23:21] danielpcox commented on #219
I actually solved this problem for myself a different way: Before running it through Jekyll, I remove the `.html` from both `docs/sidebar.json` and `docs/_data/sidebars/home_sidebar.yml` like so (in my Makefile):
[code]

Not _recommending_ this exactly, but it does let you keep pretty urls.

[2020-12-06 19:14] hamelsmu commented on #330
This is something we are examining more closely as we re-write nbdev

[2020-12-09 00:54] aronchick opened #332 "Docs Suggestion: Add clearer parameter guidelines for export"
In reading through several of the docs, it wasn't clear how to format `#export` for the purposes of creating a different external file.

It might be nice to here (https://nbdev.fast.ai/export.html#notebook2script) or elsewhere to list some examples for how to add a parameter to `#export`

[2020-12-09 15:29] tburnett opened #333 "CSS image question"
I'm using nbdev to develop/test/document code, thank you for this. But since the code is a science analysis, I'm using it to present data analysis. As such, I generate Matplotlib figures, save them as png files, then include as images.  My HTML for this sets width, and includes the figure in link a to the image file. This allows me to generate a large image, but display a reduced size, with the po

[2020-12-09 16:53] hamelsmu commented on #332
Marking this for @romanofoti

[2020-12-09 21:48] jnareb opened #334 "`git diff` on a merge conflict fails with an error from `nbdev_clean_nbs` script"
When running `git diff` from a terminal inside Jupyter Notebook (or rather JupyterLab) when there is a merge conflict in the repository, I get the following error from `nbdev_clean_nbs` called from `textconv` diff filter:

[code]

The `nbdev_clean_nbs` is called by gitattributes mechanism, see `.gitconfig` entry:
[code]

[2020-12-10 00:53] tburnett commented on #333
Well, the reason, I think,  is that it is within a div with class "post-content", and there is a css file `costumstyles.css` that has the following fragment
[code]
in it **three** times.
Deleting them all solves my problem, but only temporarily, since this file appears to get updated from somewhere. I'll commit this change, but I'm hoping that someone will suggest a more elegant solution.

[2020-12-11 23:13] aronchick opened #335 "Setting for ignoring cells that don't have "#export" in them?"
If we have a notebook with three cells:
- export train
- export train
- (graphing script)

It'd be nice if there WAS an export, it acted on it, but if there wasn't (by default) it ignored it as though it was just another text cell.

Right now it does this:
[code]

[2020-12-11 23:57] #335 closed

[2020-12-11 23:58] aronchick commented on #335
This is my mistake. I keep running into -

[code]

And assumed it was because it was hitting cells that didn't have export in them. Don't know how to solve that though.

[2020-12-12 00:17] aronchick commented on #335
The answer here appears to be `nbdev_build_lib` requires a notebook to run first that has `# default_exp <module_name>` in it. So create multiple notebooks, each named `00_create_foo` where the first (and only) line is `# default_exp foo`

[2020-12-13 00:23] hamelsmu opened #336 "Add `bare` flag to `nbdev_build_lib`"
passing --bare now omits two things:

1. `# AUTOGENERATED! DO NOT EDIT! File to edit: nbs/00_export.ipynb (unless otherwise specified).`

and

2. `# Cell`

[2020-12-13 01:36] #336 closed

[2020-12-14 05:40] satyajitghana commented on #264
Hey, how do i make `all.py` for individual modules just like `fastai` ?

[2020-12-14 05:44] muellerzr commented on #264
Those are made manually right now

On Mon, Dec 14, 2020 at 12:41 AM Satyajit Ghana <notifications@github.com>
wrote:

[2020-12-14 16:43] flowirtz opened #340 "Tutorial says there is no conda package for nbdev"
The [tutorial reads](https://nbdev.fast.ai/tutorial.html#Install-nbdev):

On the [installation page](https://nbdev.fast.ai/#Installing), however, it says:

I'm pretty new to this conda/python/nbdev world or at least haven't used it for a while, but do I understand correctly that this is a mistake in the tutorial?

I'm very happy to (try to) fix it, just wanted to double-check I didn't misunderstan

[2020-12-15 12:07] KBodolai commented on #80
Hi openthings!

I was following the nbdev tutorial and got virtually the same issue as you had:
[code]
I tried your solution in setting.ini, but unfortunately it didn't work for me, right now it looks like this:

[code]

Any idea of why this happens or how I can fix it?

Thanks!

[2020-12-15 15:44] jnareb opened #341 "[BUG] `nbdev_update_lib --fname notebook.ipynb` crashes (while `nbdev_update_lib` works)"
One of options for the `nbdev_update_lib` command line script is `--fname`:

[code]

Unfortunately trying to run `nbdev_update_lib --fname notebook.ipynb` to update a single notebook from the single Python file (`#default_exp script.py`) crashes with the following error:

[code]

What's strange is that `nbdev_update_lib` without any parameters runs without any errors and works correctly:

[code]

[2020-12-15 15:49] jnareb commented on #340
I have tried installing nbdev via `conda` (on MS Windows 10, with Anaconda3 Python distribution), and it didn't work correctly: all scripts like `nbdev_clean_nbs` (that are required for it to work correctly) were missing.

I have uninstalled conda package, and installed pip package, and it works.

[2020-12-16 04:08] hamelsmu commented on #332
@jph00 is going to look into this soon.  I have created a [demo notebook for this in an nbdev repo](https://github.com/hamelsmu/nbdev_export_demo/blob/master/demo.ipynb) which we may consider adding to the docs.

[2020-12-16 04:15] hamelsmu opened #342 "Conflict b/w notebooks and scripts"
@jph00 there seems to be a conflict b/w the notebooks and scripts, and I would fix it myself but I'm not confident which one should be favored the notebooks or the scripts.

See [this error](https://github.com/fastai/nbdev/runs/1550736028?check_suite_focus=true)

[code]

[2020-12-16 19:52] sheikmohdimran opened #343 "Cells created in Colab not exported to script, while using pre-existing Jupyter created Notebooks"
**Cells created in Colab not exported to script, while using pre-existing Jupyter created Notebooks**

We are using for nbdev for a project where people use a combination of Jupyter environment and Colab.
I loaded up an existing notebook (created in jupyter) in colab, and created new cells with relevant code. The tests passed.

However, notebook2script does not export the cells that have been crea

[2020-12-16 20:18] #342 closed

[2020-12-16 20:43] aronchick opened #344 "Use Cookie Cutter Data Science as a default template for nbdev_new?"
Have you looked at Cookie Cutter Data Science? It's a quite popular open source project (https://drivendata.github.io/cookiecutter-data-science/) that just has a standard repo structure. I wonder, if it aligns, if you could use that as the default structure for `nbdev_new`.

That would allow github actions built against either to use similar repo assumptions - and may join forces with their commun

[2020-12-17 13:21] AyrtonB commented on #340
I use nbdev from a conda install and it works fine for almost everything but I've also encountered the same issue described by @jnareb where the CLI methods such `nbdev_clean_nbs` don't work unless I reinstall with pip.

[2020-12-17 20:20] igorbrigadir commented on #334
I can't tell for sure it's the same thing, but i think I got into trouble with this before, because of the way git deals with merge conflicts, it does this to files:

[code]

Which breaks the ipynb file json - making it impossible for nbdev to read the ipynb file. The only solution is to fix it manually in a text editor to make sure the json is valid again.

[2020-12-17 21:22] jnareb commented on #334
Why do it manually, if it can be done automatically using the diff/merge driver mechanism?

`nbdev` should in my opinion provide a <u>**merge driver**</u> in addition to **textconv driver** it provides, something like the [git-json-merge](https://github.com/jonatanpedersen/git-json-merge) (in JavaScript) or [git-merge-drivers](https://github.com/rmedaer/git-merge-drivers) (in C++), but in Python:

[2020-12-17 21:36] igorbrigadir commented on #334
Yes! This would be a much better solution!

[2020-12-21 13:44] AyrtonB opened #345 "DataFrame Output Representation"
Currently there's an issue with the output from dataframes where they're stored as html which leads to issues in documentation generation, e.g. overlapping with contents.

![image](https://user-images.githubusercontent.com/29051639/102781405-8541d300-438f-11eb-86d3-badb0b480f58.png)

Example subset of the markdown file:

[code]

<br>

Changing this to a markdown table fixes these issues

![image](

[2020-12-21 17:51] AyrtonB commented on #345
Not elegant but this works. Where's the best place to apply it within the existing nbdev codebase?

[code]

[2020-12-23 18:56] hamelsmu commented on #345
Hello, I cannot reproduce this issue with nbdev.

![image](https://user-images.githubusercontent.com/1483922/103028524-cb707100-450c-11eb-9854-f19b4ce00f1d.png)

My suspicion is there is something about your theme (I noticed you are using a different theme than what nbdev is tested on, so perhaps there is something in your theme that is causing this problem ?).

Either way, I'm not able to reprodu

[2020-12-23 18:56] #345 closed

[2020-12-23 19:09] hamelsmu commented on #344
Hi @aronchick

I noted the cookie-cutter directory structure below.  While at first this seems compatible with nbdev out of the box where you just change settings.ini, you have to make some additional modifications to make sure nbdev and this project play nicely with eachother.  For example:

- Delete the README.md b/c that is generated by index.ipynb
- Delete the contents of `docs/` as the sphinx

[2020-12-23 19:16] hamelsmu commented on #343
@sheikmohdimran my understanding is that nbdev doesn't support developing directly in Colab (however there should be no problem running the code directly in Colab).  That being said @muellerzr has some workarounds to enable this for the very motivated.

@muellerzr do you mind commenting on this issue with your workflow?  I'll go ahead and close this now.

cc: @jph00

[2020-12-23 19:16] #343 closed

[2020-12-23 19:46] tyoc213 commented on #341
I remember first weeks I used nbdev I was also confused with nbdev_update_lib and nbdev_build_lib. I always thought now of update_lib as update the nbooks from python files without changing the number of cells.

[2020-12-23 19:51] hamelsmu commented on #341
The issue is that  `nbdev_update_lib` is used to sync .py -> .ipynb
If you want to sync .ipynb -> .py then you must use `nbdev_build_lib`

The help docs for the CLI was confusing, so I addressed this in #341 as well as raise an Error if the user makes this mistake (which is very understandable).

[2020-12-23 19:54] hamelsmu commented on #340
@jph00 is nbdev supposed to be conda installable?

[2020-12-23 20:00] tyoc213 opened #347 "[Feature request] Add configuration to extension for differente languages"
The other day installed Julia and it added create new Julia file, which runs on nbdev. Then I just went to a nbdev project and added a new Julia notebook and it did output the file as .py file, but "it worked" no errors trhow.

So I think would be nice if the writing of files extensions could be handled from:

* inside a jupyter notebook
* from the main configuration

Sure, for compiled languages

[2020-12-23 20:16] jph00 commented on #340
Yes it is.

[2020-12-23 20:16] #341 closed

[2020-12-23 20:19] jph00 commented on #344
cookie cutter uses lots of tools, such as tox and sphinx, to cover the functionality that nbdev provides already out of the box. It doesn't make sense AFAICT to support both. I think it would be simpler for people to just use nbdev which handles everything needed to get started.

[2020-12-23 20:19] #344 closed

[2020-12-23 20:38] hamelsmu commented on #333
@tburnett this is a little tricky to change, but you have to change it in the right place!

You must make sure you edit the css file located in `/docs/css` **not** in `docs/_site/css` (the latter one is generated from the former).

You are correct about the duplicated css, which I removed in #348.  closing this now, let us know if you have any more questions (on a new issue).

cc: @jph00

[2020-12-23 20:38] #333 closed

[2020-12-23 21:56] hamelsmu commented on #332
I'm working on this now

[2020-12-23 22:00] jnareb commented on #341
Actually I wanted to update notebook after editing a Python script in an IDE. I was not confused about the direction.

I wanted to limit what `nbdev_update_lib` works on, and the description of option said to give the name of notebook. If I remember it correctly, giving the name of *.py file didn't work or gave an error, giving it a name of *.ipynb file *crashed* the command (in most cases there i

[2020-12-23 22:28] hamelsmu commented on #340
I resolved conflicting information present in the tutorial via

![image](https://user-images.githubusercontent.com/1483922/103041291-d934ef00-452a-11eb-8a95-44398ed4d844.png)

[2020-12-23 22:29] #340 closed

[2020-12-23 22:46] #332 closed

[2020-12-24 00:19] jnareb commented on #340
What about conda package not installing the CLI tools?

Also, the first part now mentions conda, but the detailed steps do not.

[2020-12-24 01:57] hamelsmu commented on #340
If that is an issue, would you mind opening a seperate issue for that?  Thanks so much!

The detailed steps should probably only show 1 path but I'll make a change to clarify this even further!

[2020-12-24 02:05] hamelsmu commented on #341
This was fixed in https://github.com/fastai/nbdev/pull/346

This was also fixed in https://github.com/fastai/nbdev/pull/346 as an error is raised.

if you update your installation by pulling from GitHub and doing `pip install -e .` you will get an error message that will direct you towards the solution.  the arguments to `nbdev_update_lib` accept `.py` files, not `.ipynb` files.

[2020-12-24 15:16] hugocool opened #352 "including nbdev in requirements.txt causes build error in google app engine"
In deploying a simple flask app (which uses a monkey patched version of nbdev.export2html) i included nbdev in the requirements file.
This causes a build error in google app engine:

`Step #1 - "builder": INFO     pip_install_from_wheels took 0 seconds
Step #1 - "builder": INFO     starting: pip_install_from_wheels
Step #1 - "builder": INFO     pip_install_from_wheels /env/bin/python3.7 -m pip ins

[2020-12-24 18:44] hamelsmu commented on #347
I'm not sure that we can try to make nbdev language agnostic, there are lots of features that are specific to python.  Perhaps you could use a subset of these features with other languages, but I'm not sure this is something we want to claim.

If someone is willing to share a working prototype with nbdev in another language, this would be a good conversation starter!

Closing this issue.  cc: @jph

[2020-12-24 18:44] #347 closed

[2020-12-24 18:49] hamelsmu commented on #352
@hugocool do you think this issue should be opened with the folks at Google?  I'm not sure this is an issue with nbdev, as you patched nbdev to do something specific (which we do not have access to), and then you are trying to use your patched version to interface with a third party tool that we do not support.  This might be a question that is better suited for the forums.

However, if you do pos

[2020-12-24 18:49] #352 closed

[2020-12-24 19:12] hamelsmu commented on #334
@jnareb can you educate me a bit mroe on how the git merge driver works from a user interface perspective?

Doesn't the user still have to choose which version of the code needs to be favored in the conflict manually?

[2020-12-24 19:24] hamelsmu commented on #326
@jnareb I'm not able to reproduce this error, even on a windows machine.  If you happen to be familiar with Docker, Im curious if this works:

first pull the latest version of nbdev locally, and from the root of the repo, in your terminal run:

`docker-compose up` (wait until the containers are up and running)

followed by

` docker-compose exec notebook bash`

followed by

`nbdev_build_docs`

Wha

[2020-12-24 19:26] hamelsmu commented on #328
@thakkarparth007 can you share a reproduceable example with code, etc.?  A GitHub repository with links to files and steps to take would be ideal.

[2020-12-25 21:16] aronchick commented on #344
My proposal is less about using the tools to install a repo via CCDS, but a tacit agreement to use the same structure. Many (most?) folks won't be using nbdev to start, so they may set up their repo in an arbitrary way. I'm not saying CCDS is "the way" but it's certainly a popular alternative layout.

If you BOTH agreed on a similar format, then we could say "hey everyone, let's use the <STANDARD_

[2020-12-25 22:40] jph00 commented on #344
Can you be more specific about what folders you suggest creating, for what purposes? Maybe some examples?

[2020-12-26 11:09] jnareb commented on #326
I suspect this is some bad interaction between packages, as `nbdev_build_docs` worked without problems before the update.

Below there is full description of my current environment (taken from [JupyterLab](https://github.com/jupyterlab/jupyterlab) bug report template). For the time being I would be using https://gitpod.io to build docs; I'll try to examine this issue in more detail soon.

<details

[2020-12-26 12:39] jnareb commented on #334
@hamelsmu :  a [custom merge-driver](https://git-scm.com/docs/gitattributes#_performing_a_three_way_merge) in Git affects how three versions of a file are merged when a file-level merge is necessary during `git merge`, and other commands such as `git revert` and `git cherry-pick`.

You need to configure `*.ipynb` files to use custom merge driver in the `.gitattribute` file, for example:

[code]

T

[2020-12-26 12:40] jnareb commented on #334
One **_simple_** solution could be for `nbdev_clean_nbs` to print a warning and exit when encountering invalid `*.ipynb` file, instead of crashing.

[2020-12-26 13:17] jnareb commented on #334
The custom merge driver that [nbdime](https://nbdime.readthedocs.io/) provides, namely `git-nbmergedriver`, configured in the following way:
[code]
(there is also a full-fledged custom diff driver provided by nbdime, namely `git-nbdiffdriver`), produces the following merge result, with conflict markers as separate Markdown cells:
[code]

This is for the case in the next previous comment. It is adm

[2020-12-26 15:02] igorbrigadir commented on #334
As a user, i think nbdime as a default merge driver / tool would be ideal to have in nbdev

[2020-12-26 20:43] igorbrigadir commented on #344
I like your idea, but given the extra bits @hamelsmu added, i think a cookiecutter nbdev setup would be more useful as a separate repository, like https://github.com/fastai/nbdev_template (maybe this is what you had in mind all along?) In that case no changes are needed to nbdev itself, you can maintain a cookiecutter / github template repo with those extra adjustments.

[2020-12-26 20:48] aronchick commented on #344
Sure - basically everything in the structure above. By having a well defined docs/model/src/etc folder, that is the default (not required by any stretch!) then TWO very large projects share a common repo layout as the default. That starts to move mountains IMO - for example, you could imagine an nbdev action which looked for (by default) all notebooks in a folder named `/notebooks`, or autobuilt d

[2020-12-26 23:21] jph00 commented on #334
We already have that. It's called `nbdev_fix_merge`. It's not actually set up to integrate directly with git (although that would be nice to add) - for now you just have to call it manually.

[2020-12-27 00:49] hamelsmu commented on #344
After thinking about this very carefully (and giving extra deference to @aronchick because he is my friend and someone I respect, I still struggle to see how a marriage of CCDS and nbdev would be mutually beneficial.  I understand that the motivation (and really appreciate) the idea of boosting the visibility of nbdev by giving it a hook into a popular repository format.  That is very thoughtful a

[2020-12-27 21:23] aronchick commented on #344
LOL @hamelsmu, I'm just a guy!

Ok, I hear where you are all coming from, but imagine the alternative world. I don't THINK you all care specifically about the layout of a repo, you just chose one that is logical to you all.

E.g. people DO need a repo for /docs, /notebooks, etc etc. There's nothing specific to data science (of course) to these concepts.

I guess my take is that EVERYONE needs some

[2020-12-27 22:24] hamelsmu commented on #344
I like how you explained that structure is helpful for people especially
those who are beginning something in order to organize their thoughts.
That makes sense to me and I like how you champion the cause of those users!

Nbdev doesn’t mandate a particular directory structure, we often change the
directory structure from the one that is there by default.  For example -
by default, there is no note

[2020-12-28 16:06] FGhavamian opened #353 "TypeError: 'PosixPath' object is not iterable"
When executing `nbdev_build_lib` I got this error: `TypeError: 'PosixPath' object is not iterable`.

I realized that the `read` function in `backports/configparser/__init__.py` does not handle a case where the path is of object `pathlib.PosixPath`.

Looking at the `configparser` [package](https://github.com/jaraco/configparser/blob/ac8cb18fc75313d994e438c1c39ea2dcac9c2c05/src/backports/configparse

[2020-12-28 17:11] hamelsmu commented on #353
@FGhavamian can you provide a way to reproduce your error?

[2020-12-28 17:12] hamelsmu commented on #353
(sorry for closing this by accident, reopened now)

[2020-12-28 17:46] BirkhoffG opened #354 "Does nbdev support ignore the part of `if __name__ == "main"`"
I have some code like this:

[code]

The `train` function is developed through nbdev in the notebook, and I want to write the main function directly in the python file without sync back to the notebook and cause conflicts.

Does `nbdev` support ignore code in the python module without syncing back to the notebook?

Thank you!

[2020-12-28 18:14] hamelsmu commented on #354
I would suggest `call_parse` as demonstrated here instead:  https://fastcore.fast.ai/script.html#Example

if you really want to use `if __name__ == "main"` in a cell in the notebook and export that if you wish just like any other code.  But I suggest creating that cell in a notebook.   If you do this you will need something like this

[code]

[2020-12-28 18:14] #354 closed

[2020-12-28 21:09] igorbrigadir commented on #334
I totally missed that `nbdev_fix_merge` existed, thanks!

[2020-12-29 11:58] FGhavamian commented on #353
The issue is not with nbdev. I write the conclusion here just in case.
In my workplace, `apache-airflow==1.10.6` is used which requires `configparser >=3.5.0,<3.6.0`.
`fastcore` and consequently `nbdev` however, don't work with these old versions of `configparser`.
The solution is to have separate environments for `apache-airflow==1.10.6` and `nbdev`.

[2020-12-29 11:58] #353 closed

[2020-12-29 12:16] IRailean opened #355 "nbdev_nb2md doesn't work in Colab due to CR/CRLF"
When converting from .ipynb to .md cells with #hide are present in the markdown file.

Notebook:

![Untitled](https://user-images.githubusercontent.com/38012331/103283123-5efbe300-49e0-11eb-9846-0b24b9f7b770.png)

Markdown file contains:

# Title

[code]

Test1

[code]

    test cell

Test2

[2020-12-29 22:18] massgh opened #356 "Numpy and Google Docstring Style Support"
The docstring in nbdev is not rendered properly, for example numpy and Google style docstrings are rendered unexpectedly such as
[code]
becomes Heading 1 which shows up in TOC as well.
When are you going to fix it? Currently I am struggling with making bullet points to render documentation properly.

[2020-12-30 00:41] BlackHC opened #357 "nbdev searches for .ipynb in all subdirectories including hidden ones"
`nbdev_build_docs` for one searches for notebooks using `glob('**/*.ipynb')` which also collects hidden directories.

I'm using a Jupyter-Lab extension (https://github.com/krassowski/jupyterlab-lsp) which stores additional backups in a `.virtual_documents` folder, which lead to issues for me as they get picked up by `nbdev_build_docs`.

The current code in `nbdev_build_docs` ignores `.ipynb_checkp

[2020-12-30 04:08] muellerzr opened #358 "Feature Request: Allow for recursive modules"
I've come to an interesting situation where some of my nbdev notebooks are nested, such as:

[code]
And both export modules. It would be nice to have nbdev work with that ( @hamelsmu )

[2020-12-30 07:18] hamelsmu commented on #356
nbdev docs rendering does not specifically support Google / numpy docstrings.  I would suggest writing your docs in the nbdev way instead by moving the docs into the notebook instead of trying to document the function in a docstring.  Only the first line of the docstring is rendered in the docs, with the assumption that explanation of parameters, etc will be done in the notebook.   A good example

[2020-12-30 07:18] #356 closed

[2020-12-30 07:56] hamelsmu commented on #357
Are you using the latest version of nbdev?

`nbdev_build_docs` filters out hidden directories with this line of code:

[code]

I tested it and it does ignore hidden directories.   You can upgrade to the latest nbdev by cloning this repo and running pip install -e .   Alternatively I believe that `pip install -U nbdev` should work because this was a change made 4 months ago.

[2020-12-30 08:07] hamelsmu commented on #355
I'm not able to reproduce this behavior.  Steps I took:

1. Cloned `fastai/nbdev` repo
2. Made sure I am using the latest version of nbdev `pip install -e .`
3. navigated to notebook folder `cd nbs`
4. ran the following command `nbdev_nb2md 06_cli.ipynb`
5. when running `tail 06_cli.md` the last cell of the corresponding notebook is infact hidden.

Closing this issue, but please do open a new issu

[2020-12-30 08:10] hamelsmu commented on #334
If I'm understanding the above conversation this issue should be closed as it seems `nbdev_fix_merge` is the solution to the issue raised.     Going ahead and closing this

[2020-12-30 08:10] #334 closed

[2020-12-30 10:23] jnareb commented on #334
Using `nbdev_fix_merge` is a solution to a problem, but not to the issue of **bad user experience**! In my opinion CLI tools should never crash but rather show an error message (in addition to failing gracefully), especially if the problem is _not_ something exceptional. Tools that are run automatically should not crash in particular.

Does `pip` crash when given unexpected command, or when there

[2020-12-30 12:14] IRailean commented on #355
@hamelsmu Thank you for the clarification. It works with Jupyter Notebooks indeed. The problem was that I`ve been using Colab Notebook. As I know in Colab nb there is additional metadata which makes it different from Jupyter nbs. Is nb2md supposed to work with Colab nbs?

[2020-12-30 13:10] IRailean commented on #355
Colab adds to the end of some lines \r character.
I created two identical notebooks, one in Jupyter Notebook, another in Colab. If you open them in text editor you will see, that in Jupyter it will look like:
'#hide\n'
and .ipynb from Colab is:
'#hide\r\n'

If you remove '\r' character and run nb2md all works ok.

[2020-12-30 14:19] massgh commented on #356
@hamelsmu I am sorry about that. And I got your point that nbdev has its own way of documentation. Thanks

[2020-12-30 15:25] hamelsmu commented on #334
Ok thanks for explaining I'll let @jph00 comment (and possibly reopen)

[2020-12-30 23:31] BlackHC commented on #357
Thank you! I have the latest version installed. Please see below for links to code that has issues.

The following line causes issues with `nbdev_build_docs` (in master):

https://github.com/fastai/nbdev/blob/7fcc358f9a4ab7709d0d5808bfb02a7456930eac/nbdev/export2html.py#L713

I've seen a similar issue in:

* `nbdev_read_nbs`: https://github.com/fastai/nbdev/blob/7fcc358f9a4ab7709d0d5808bfb02a74569

[2020-12-30 23:56] hamelsmu commented on #357
cc: @jph00 looks like potentially we are trying to find notebooks using slightly different or repeated logic in different places.  Might be worth thinking about this, or also at least keeping this in mind for v2

[2020-12-31 05:38] jcpayne opened #360 "Adding complicated dependencies"
Is there documentation somewhere of how to add complicated dependencies?  My nbdev builds are failing when nbdev_test_nbs hits imports that aren't in plain Python 3.  There is one line in the nbdev Tutorial that suggests adding packages to the `requirements = ` line in settings.ini, but fastai itself has 4 different kinds of requirements listed in settings.ini:
[code]
Also, I'm working with Detect

[2021-01-01 18:02] jcpayne opened #361 "nbdev_clean_nbs prevents launch of git mergetool"
Is this expected behavior?  If I run nbdev_clean_nbs, it executes correctly.  But when I try to merge a git conflict, nbdev_clean_nbs throws an error and prevents me from starting up git mergetool.  Also, the message says that no files need merging, but as you can see at the bottom, they do.  I tried reinstalling nbdev_install_git_hooks, but that didn't fix the problem.

% git mergetool

  File "/

[2021-01-02 02:37] jcpayne commented on #361
I fixed this by deleting
- .git/hooks/post-merge
- .gitconfig
- .gitattributes
then running git commands (`git add`, `git commit`, and `git pull`), and then reinstalling `nbdev_install_git_hooks`.  Something was certainly wrong but perhaps not worth worrying about -- I'll leave it open for now so you can see the error message, but please feel free to close it.

[2021-01-02 15:52] nicole-brewer opened #362 "nbdev_build_docs fails with rpy2"
nbdev_build_lib works just fine.

The error comes from an rpy2 import, `from rpy2.robjects import packages` and eventually fails on the line `rpy2.rinterface.baseenv.get("show")`. I can successfully do the import, and the troublesome line in a notebook.

This leads me to think that there is something that is being excluded from the environment when `_notebook2html` is run with parallel, which I be

[2021-01-02 20:16] jph00 commented on #355
@IRailean can you please provide a step-by-step way to reliably reproduce this issue please?

[2021-01-02 20:25] muellerzr commented on #360
You should do `git+git://` on your link and add it to whatever requirements you ay have like so:

[code]
@hamelsmu you may know more on the pip installing custom wheels?

[2021-01-02 20:34] jcpayne commented on #360
Thanks @muellerzr.  I'll try that.  Is there any reason to prefer `requirements=...` over the other variants (`pip_requirements` etc.) that I listed?

[2021-01-02 20:38] muellerzr commented on #360
No, it was just an example

[2021-01-02 22:34] IRailean commented on #355
Hi @jph00 .
Here is how I reproduced the problem:
A.
1.Create a new notebook in Google Colab
2. Add
[code]
and run it
3. Create second separate Google Colab nb and run:
[code]
to install nbdev
4. Run:
[code]
to get first notebook in json format (Untitled7 is the name of my first nb).
5. In the output find the content of the cell of the first nb.
In my case:
![image](https://user-images.githubuserc

[2021-01-03 19:01] hamelsmu commented on #355
@IRailean I am not sure nbdev explicitly supports development in Colab.  @muellerzr has done this but I know he encounters similar issues from time to time.

Pinging @jph00 for his thoughts.

[2021-01-03 19:04] hamelsmu commented on #362
Hello @nicole-brewer are you getting errors only with r2py? are you able to successfully use nbdev without this import?

Also might be helpful if you shared your notebook and project for reproducibility of the error.  Thank you

[2021-01-03 19:04] hamelsmu commented on #360
@jcpayne shall I close this issue?

[2021-01-03 19:47] jcpayne commented on #360
Not yet, please. Several questions are still unanswered; 1) How to write the detectron2 import line; 2) Zach's suggestion doesn't include the flags -- can I include them? (I haven't tried yet) 2) What is the difference, if any, between the 4 kinds of requirement statements.  Why are all 4 present in fastai?